<p>CAPÍTULO VI

    SOBRETASA BOMBERIL
    
    
    ARTÍCULO 135. AUTORIZACIÓN LEGAL. La sobretasa bomberil se rige por la Ley 1575 de 2012 y demás disposiciones complementarias.
    
    ARTÍCULO 136. SUJETO ACTIVO. El municipio de Valledupar es el sujeto activo de la sobretasa bomberil que se cause en su jurisdicción y en el radican las potestades tributarias de administración, control, fiscalización, liquidación, discusión, recaudo, devolución y cobro.
    
    ARTÍCULO 137. SUJETO PASIVO. son los sujetos pasivos del impuesto predial unificado de que trata el artículo I I del presente Estatuto.
    
    ARTÍCULO 138. HECHO GENERADOR. Constituye hecho generador de esta sobretasa, la realización del hecho generador del Impuesto Predial Unificado.
    
    ARTÍCULO 139. BASE GRAVABLE. La constituye el valor determinado del impuesto Predial Unificado.

    ARTÍCULO 140. TARIFA. La tarifa será del cinco por ciento (5%) del valor del Impuesto Predial Unificado.

ARTÍCULO 141. CAUSACIÓN. La sobretasa bomberil se causará en el momento en que se cause el impuesto Predial Unificado.

ARTÍCULO 142. DESTINACIÓN. Los recaudos por concepto de la sobretasa bomberil se destinarán al financiamiento de los gastos de funcionamiento o inversión relacionados con la actividad bomberil y en general para la gestión integral del riesgo contra incendio, los preparativos y atención de rescates en todas sus modalidades y la atención de incidentes con materiales peligrosos, de conformidad con Io establecido en la Ley 1575 de 2012.

</p>
