<p>CAPÍTULO XIV

    ESTAMPILLA UNIVERSIDAD POPULAR DEL CESAR
    
    ARTÍCULO 210. AUTORIZACIÓN LEGAL. La estampilla Pro-Universidad Popular del Cesar se encuentra autorizada por la Ley 551 de 1999, Ley 1267 de 2008, Ordenanza No.0020 de 2009, y demás normas que las modifiquen o adicionen.
    
    
    
    ARTÍCULO 211. CREACIÓN. Reglaméntese el recaudo de la estampilla ProUniversidad Popular del Cesar, de conformidad con lo ordenado en la Ordenanza No. 0020 de 2009 y en la Ordenanza No.066 de 2012.
    
    ARTÍCULO 212. RESPONSABLES DEL RECAUDO. son responsables del recaudo de la estampilla Pro-Universidad Popular del Cesar, en el Municipio de Valledupar:
    
    1.     El Municipio de Valledupar, sus organismos y/o sus entidades descentralizadas, Contraloría Municipal, Concejo Municipal, establecimientos públicos, empresas de economía mixta, sociedades de capital público Municipal, empresas industriales y comerciales de nivel municipal, empresas de servicios públicos domiciliarios, unidades administrativas especiales y demás entidades del orden municipal, con o sin personería jurídica, respecto de los actos, contratos y demás documentos que estén gravados de conformidad con el presente Acuerdo.

    2.     La Secretaría de Tránsito Municipal respecto de cada tramite de duplicado o cambio de placa, cambio de carrocería, transformación de vehículo, cambio de motor, transito libre o cambio de color de los vehículos de servicio público y particulares, que se haga ante esta autoridad municipal.

La obligación de cancelar el pago de la estampilla se generará a la legalización del contrato o en la liquidación del costo del trámite y previo a la ejecución del mismo, en los casos de que trata el numeral 2 del presente artículo.

ARTÍCULO 213. SUJETO PASIVO. El sujeto pasivo de la estampilla ProUniversidad Popular del Cesar es toda persona natural o jurídica que sea parte, destinatario o beneficiario de los actos, documentos o contratos que se relacionen en el artículo siguiente, y en todo caso toda persona natural o jurídica que desarrollen o ejecuten el hecho generador.

ARTÍCULO 214. HECHO GENERADOR. Los actos y documentos sobre los cuales se aplica el gravamen de la estampilla Pro-Universidad Popular del Cesar en el Municipio de Valledupar son:



I. Todos los contratos y sus adiciones en valor, ordenes de trabajo, ordenes de prestación de servicios, ordenes de suministros y ordenes de compraventa suscritos por el Municipio de Valledupar y/o sus entidades descentralizadas, Contraloría Municipal, Concejo Municipal, establecimientos públicos, empresas de economía mixta, sociedades de capital público municipal, empresas industriales y comerciales del nivel municipal, empresas de servicios públicos domiciliarios, unidades administrativas especiales y demás entidades del orden municipal, con o sin personería jurídica.

2. Toda cuenta o factura presentada contra el Municipio de Valledupar y/o sus entidades descentralizadas Contraloría Municipal, Concejo Municipal, establecimientos públicos, empresas de economía mixta, sociedades de capital público Municipal, empresas Industriales y comerciales del nivel municipal empresas de servicios públicos domiciliarios, unidades administrativas especiales y demás entidades del orden municipal, con o sin personería jurídica

3. En cada trámite de duplicado o cambio de placa, cambio de carrocería, transformación de vehículo, cambio de motor, transito libre o cambio de color de los vehículos de servicio público y particulares que se haga ante la Secretaría de Tránsito Municipal.

ARTÍCULO 215. CAUSACIÓN. La estampilla Pro-Universidad Popular del Cesar en el Municipio de Valledupar se causa:

I . En el momento de la suscripción del contrato y de la respectiva adición, si la hubiere, con el Municipio de Valledupar y/o sus entidades descentralizadas, Contraloría Municipal, Concejo Municipal, establecimientos públicos, empresas de economía mixta, sociedades de capital público Municipal, empresas Industriales y comerciales del nivel municipal empresas de servicios públicos domiciliarios, unidades administrativas especiales y demás entidades del orden municipal, con o sin personería jurídica.

2.   


En el momento que se presente toda cuenta o factura presentada en el Municipio de Valledupar y/o sus entidades descentralizadas, Contraloría Municipal, Concejo Municipal, establecimientos públicos, empresas de economía mixta, sociedades de capital público Municipal, empresas Industriales y comerciales del nivel municipal, empresas de servicios públicos domiciliarios, unidades administrativas especiales y demás entidades del orden municipal, con o sin personería jurídica.

3.    En el momento de la liquidación y ejecución de cada tramite de duplicado o cambio de placa, cambio de carrocería, transformación de vehículo, cambio de motor, transito libre o cambio de color de los vehículos de servicio público y particulares, que se haga ante la Secretaría de Tránsito Municipal.

La obligación de realizar el pago de la estampilla se generará previo a la ejecución del contrato o previo a la expedición o emisión del documento o acto por parte de las entidades antes mencionadas.

ARTÍCULO 216. TARIFAS. Las tarifas de la estampilla Pro-Universidad Popular del Cesar en el Municipio de Valledupar son las siguientes:

I . En todos los contratos celebrados por las entidades definidas en el artículo anterior, el Contratista deberá cancelar el cero punto cinco por ciento (0,5%) sobre el valor del contrato y sus adiciones, sin incluir el IVA si Io contiene.

2.    En toda cuenta o factura presentada contra entidades definidas en el artículo anterior, el cinco por mil (5/1000) sobre su valor, sin incluir el IVA si Io tiene.

3.    En cada tramite de duplicado o cambio de placa, cambio de carrocería, transformación de vehículo, cambio de motor, transito libre o cambio de color de los vehículos de servicio público y particulares, que se haga ante la Secretaría de Tránsito Municipal, el cinco por mil (5/1000) sobre el salario mínimo mensual legal vigente.

4.    En cada tramite de duplicado o cambio de placa, cambio de carrocería, transformación de vehículo, cambio de motor, transito libre o cambio de color de los vehículos de servicio público y particulares, que se haga ante la Secretaría de Tránsito Municipal, el tres por mil (3/1000) sobre el salario mínimo mensual legal vigente.

ARTÍCULO 217. EXCLUSIONES. se excluyen del pago de la estampilla ProUniversidad Popular del Cesar:

1.     Los convenios interadministrativos, salvo que una de las entidades públicas intervinientes actúe como un verdadero contratista.

2.     Contratos de empréstitos, las operaciones de crédito en general, tal y como las define la Ley 80 de 1993 0 la norma que posteriormente la regule.

3.     Contratos de seguro.

4.     Contratos para compra de inmuebles por parte de las entidades cuyos actos o documentos se tengan como hecho generador de la estampilla.

5.     Los contratos cuyo objeto sea la ejecución de actividades que por mandato legal no puedan ser gravados con impuestos.

6.     Contratos que correspondan al régimen subsidiado de salud, acciones de salud pública o atención en salud a pobres no asegurados.

7.     Contratos de aportes suscritos en desarrollo del artículo 355 de las Constitución Nacional.

ARTÍCULO 218. REGISTRO DE LA ESTAMPILLA. Una vez se realice el pago de la estampilla Pro-Universidad Popular del Cesar, las entidades señaladas en el artículo 215 de este Acuerdo, deberán registrar en el acto o documento en que intervino el servidor público el valor pagado por este concepto.

ARTÍCULO 219. DESTINACIÓN DE LOS RECURSOS. Los recursos recaudados por el cobro de la estampilla Pro-Universidad Popular del Cesar, serán destinados de la siguiente forma:

a.    Un 70% en la construcción de Ciudadela Universitaria del Cesar, creación de plazos docentes y capacitación para los catedráticos.

b.   Un 30% en proyectos de investigación.



Parágrafo. De los recursos obtenidos por la emisión de la estampilla, se destinará para el mismo propósito y en los mismos porcentajes, a las sedes que la Universidad Popular del Cesar tenga o llegare a tener en todo el territorio del Departamento del Cesar. La proporción que se destine se obtendrá de dividir el valor recaudado entre el número total de estudiantes a nivel departamental, multiplicando el resultado por el número de estudiantes de cada sede.

Artículo 220. LIQUIDACIÓN Y PAGO. El monto de la estampilla ProUniversidad Popular del Cesar se liquidará y pagará en el momento de su causación, previsto en el artículo 218 del presente Estatuto, en los lugares y formularios que para tal efecto señale la administración municipal.

Parágrafo 1 0 . La Secretaría de Hacienda a través de resolución, podrá establecer mecanismos electrónicos que permitan a la entidad contratante realizar la liquidación de la respectiva estampilla

Parágrafo 2 0 : La administración municipal podrá difereir el pago de las estampillas por el mecanismo de retención en las cuentas de cobro correspondientes, para tales efectos, el reglamento deberá señalar como mínimo los siguientes elementos: agentes de retención, obligaciones del agente de retención, el periodo de declaración y pago, el contenido de la declaración de retención, los formularios y plazos.

ARTÍCULO 221. VALORES DE LA EMISIÓN. El valor de la emisión será la suma de cien mil millones de pesos ($100 000.000.000) a valor constante.

Cumplido el recaudo de la cifra mencionada autorizados por la Ley 1267 de 2008, dejará de tener validez jurídica el presente Capitulo, por cuanto la Ordenanza que Io autoriza deja de tener validez jurídica, en consecuencia, cesaran los recaudos previstos en el presente Acuerdo por este concepto.

</p>
