<p>CAPÍTULO VIII

    IMPUESTO DE ESPECTÁCULOS PÚBLICOS
    ARTÍCULO 153. AUTORIZACIÓN LEGAL. El impuesto de espectáculos públicos fue creado por el artículo 7 de la Ley 12 de 1932, y de acuerdo con el artículo 223 del Decreto Ley 1333 de 1986 es de propiedad exclusiva de los municipios.
    ARTÍCULO 154. SUJETO ACTIVO. El municipio de Valledupar es el sujeto activo del impuesto de espectáculos públicos que se cause en su jurisdicción y en el radican las potestades tributarias de administración, control, fiscalización, liquidación, discusión, recaudo, devolución y cobro.

ARTÍCULO 155. SUJETOS PASIVOS. son sujetos pasivos, las personas naturales, jurídicas y sociedades de hecho y, demás entidades o instituciones públicas o privadas responsables del espectáculo realizado en la jurisdicción del Municipio de Valledupar.

ARTÍCULO 156. HECHO GENERADOR. El hecho generador, está constituido por la realización de todo tipo de espectáculo público, deportivo o de cualquier otra índole, en forma permanente u ocasional, en la jurisdicción del Municipio de Valledupar, a excepción de los espectáculos públicos de las artes escénicas de que trata la Ley 1493 de 2011.



Se entenderá como espectáculos públicos entre otros, los siguientes: corridas de toros, desfile de modas, carrera de caballos y concursos ecuestres, ferias de exposiciones, riñas de gallos, ciudades de hierro y atracciones mecánicas, carreras y concursos de autos, exhibiciones deportivas y las que tengan lugar en circos, estadios y coliseos, corralejas, plazas y demás sitios donde se presentan eventos deportivos, artísticos y de recreación, todo mediante el pago de la respectiva entrada.

ARTÍCULO 157. BASE GRAVABLE. La base gravable está conformada por el total de ingresos que, por entradas, boletería, cover no consumible, tiquetes o su equivalente, genere el espectáculo.

Parágrafo: Del total de la base gravable se podrá descontar el valor que por otros conceptos diferentes al espectáculo se cobren simultáneamente con el derecho de ingreso.

ARTÍCULO 158. TARIFA. Es el 20% aplicable a la base gravable así: 10% dispuesto por la Ley 181 de 1995 (Ley del Deporte) en su artículo 77 y 10% del impuesto de Espectáculos Públicos previsto en el artículo 70 de la Ley 12 de 1932, cedido a los Municipios por la Ley 33 de 1968.

Es el diez por ciento (10%) aplicable a la base gravable.

ARTíCULO 159. EXENCIONES. se aplicará las siguientes exenciones:

1 . Las exhibiciones cinematográficas establecidas por el artículo 22 de la Ley 814 de 2003.

2.     Los espectáculos públicos que se realicen en la Plaza Alfonso López o cualquier otro sitio autorizado por la Autoridad competente, organizados o patrocinados por el Ministerio de Cultura y Educación Nacional o la casa de la Cultura Municipal, siempre que su acceso al público sea de manera gratuita.

3.     Los espectáculos públicos y conferencias culturales, cuyo producto integro se destine a obras benéficas. La secretaria de Hacienda Municipal requerirá al contribuyente con el fin de constatar la destinación de dichos fondos.

4.    


Todos los espectáculos públicos que se realicen por entidades de beneficencia pública, tales como la Cruz Roja Colombiana, Defensa Civil, Las damas Grises, las Damas Voluntarias, la Liga de Lucha Contra el Cáncer, la Casa del Abuelo.

5.     Los espectáculos públicos que sin ánimo de lucro realicen las juntas de acción comunal.

Parágrafo. Para gozar de la exención señalada en el numeral 2, deberá acreditarse el concepto del Ministerio de cultura acerca de la calidad cultural del espectáculo.

ARTICULO 160. ESPECTÁCULO PÚBLICO. Entiéndase por espectáculo público, el acto o acción que se ejecuta en público para divertir o recrear, al que accede mediante el pago de un derecho. El impuesto de espectáculos públicos se transferirá mensualmente a INDUPAL o a la entidad que haga sus veces.

ARTíCULO 161. DECLARACIÓN DEL IMPUESTO DE ESPECTÁCULOS PÚBLICOS. Los contribuyentes del impuesto de espectáculos públicos presentarán una declaración con su respectivo pago en el formulario que para tal efecto señale la administración municipal,

Para los espectáculos ocasionales la presentación de la declaración y el pago del impuesto se efectuará dentro de los cinco (5) días siguientes a la realización del espectáculo.

Para los espectáculos permanentes, el periodo gravable es mensual y la presentación de la declaración y el pago del impuesto, se efectuará en los lugares, plazos y formularios que para tal efecto señale la administración municipal.

Parágrafo 1 0. Vencidos los anteriores términos sin que el responsable presente la declaración y realice el pago del impuesto, la administración mediante resolución motivada declarará el incumplimiento del pago y ordenará hacer efectiva la garantía, respecto a la totalidad o el valor faltante del impuesto, según el caso.



Parágrafo 2 0 . Sin perjuicio del cumplimiento de las obligaciones tributarias, los responsables del impuesto sobre espectáculos públicos deberán cumplir con las disposiciones que para efectos de control y vigilancia establezca la Administración Municipal. 
    </p>
