<p>ARTÍCULO 173. AUTORIZACIÓN LEGAL. El impuesto de degüello de ganado menor está autorizado por la Ley 20 de 1908, Decreto 1333 de 1986, ordenanza No.004 de 1971, Acuerdo Municipal No. 029 de 1974.

    ARTÍCULO 174. HECHO GENERADOR. Lo constituye el degüello o sacrificio de ganado menor tales como caprino, ovino, porcino y demás especies menores que se realicen en el municipio de Valledupar.
    
    ARTÍCULO 175. BASE GRAVABLE. Está constituida por el número de semovientes menores sacrificados en la jurisdicción del municipio de Valledupar.
    
    ARTÍCULO 176. SUJETO PASIVO. Es el propietario o poseedor del ganado menor que se va a sacrificar.
    
    
    
    ARTÍCULO 177. TARIFA. Por el degüello de ganado menor se cobrará una tarifa equivalente al ocho por ciento (8%) de una (I ) Unidad de Valor Tributario (IJVT) por cada semoviente.
    
    ARTÍCULO 178. RESPONSABLE DEL RECAUDO Y PAGO DEL IMPUESTO DE DEGÜELLO DE GANADO MENOR. La persona natural o jurídica propietaria de la planta de sacrificio será responsable del recaudo del impuesto de degüello de ganado menor, cada vez que preste el servicio de sacrificio, o realice sacrificio de sus propios semovientes y cumplirá con las obligaciones de declarar y consignar el valor recaudado a favor del municipio de Valledupar en periodos mensuales.
    
    La Secretaría de Hacienda del Municipio de Valledupar conforme las facultades de fiscalización previstas en el Acuerdo Municipal, podrá revisar las liquidaciones y el recaudo efectuado por la persona natural o jurídica propietaria de la planta de sacrificio, quienes responderán por los dineros dejados de liquidar y recaudar y por la obligación de presentar las declaraciones respectivas en los lugares, plazos y formularios que señale la Secretaria de Hacienda.

    ARTÍCULO 179. RÉGIMEN PROCEDIMENTAL Y SANCIONATORIO PARA LOS RESPONSABLES DEL RECAUDO Y SUJETOS PASIVOS DEL IMPUESTO DE DEGÜELLO DE GANADO MENOR. Para efectos del régimen procedimental y sancionatorio aplicaran el régimen dispuesto para los agentes retenedores del impuesto de industria y comercio en las disposiciones contenidas en el presente Acuerdo Municipal.</p>


    