<p>CAPÍTULO VII

    IMPUESTO A LA PUBLICIDAD EXTERIOR VISUAL
    
    
    
    ARTÍCULO 143. AUTORIZACIÓN LEGAL. El impuesto a publicidad exterior visual está autorizado por la Ley 140 de 1994.
    
    ARTÍCULO 144. DEFINICIÓN. Entiéndase por publicidad visual el medio masivo de comunicación permanente o temporal, fijo o móvil, que se destine para instalar mensajes con los cuales se busque llamar la atención del público, a través de leyendas o elementos visuales en general, tales como dibujos, fotografías, letreros o cualquier otra forma de imagen que se haga visible desde las vías de uso público, bien sea peatonales, vehiculares, terrestres, fluviales, marítimas o aéreas, cuyo fin sea publicitario, cívico, político, institucional , cultural o informativo y tenga un área igual o superior a ocho (8) metros, tales medios pueden ser vallas, avisos, tableros electrónicos, pasacalles, pendones, colombinas, carteles, mogadores, globos y otros similares.
    
    Teniendo de presente que las vallas publicitarias son elementos independientes del inmueble sobre el cual están ubicadas, que igualmente son bienes muebles y no se consideran inmuebles por adherencia y
    
    constituyen en sí misma un negocio aparte del que pudiera ubicarse en el inmueble o mueble sobre el cual están instaladas, deberán pagar de manera independiente e individual correspondiente impuesto de Avisos y Tableros de que hablan las precitadas normas.

Parágrafo. La señalización vial horizontal y vertical, la nomenclatura y la información sobre sitios de interés histórico, turístico, cultural o institucional, de la ciudad se denominarán mobiliario urbano y no se considerará publicidad exterior visual aun cuando conserve las características anotadas en el presente artículo

ARTÍCULO 145. SUJETO ACTIVO. El municipio de Valledupar es el sujeto activo del impuesto a la publicidad exterior visual que se cause en su jurisdicción y en el radican las potestades tributarias de administración, control, fiscalización, liquidación, discusión, recaudo, devolución y cobro.



ARTÍCULO 146. SUJETO PASIVO. son sujetos pasivos del impuesto a la publicidad exterior las personas naturales, jurídicas o sociedades de hecho y aquellas en quienes se realice el hecho gravado a través de consorcios, uniones temporales, patrimonios autónomos en quienes se configure el hecho generador del impuesto.

ARTÍCULO 147. HECHO GENERADOR. Está constituido por la colocación de toda modalidad de publicidad exterior visual con una dimensión igual o superior a ocho (8) metros cuadrados.

ARTÍCULO 148. CAUSACIÓN Y LIQUIDACIÓN. El impuesto se causa y en consecuencia surge la liquidación oficial y obligación de pago del correspondiente periodo, cuando:

a.    Se otorgan conceptos favorables previos al registro de la publicidad exterior visual a cargo de la Administración Municipal.

b.    Se otorgan conceptos favorables previos a la prórroga o renovación del registro de la publicidad exterior visual a cargo de la Administración Municipal.

c.     En el momento de su exhibición o colocación de la valla o elemento de publicidad exterior visual cuando se omite el registro a la solicitud de la prórroga o renovación.

Mientras la estructura de la valla siga instalada se causará el impuesto.



Base gravable

Tarifa

Todo tipo de vallas de más de ocho metros cuadrados (8mts2) y hasta veinticuatro metros cuadrados, (24 mts2), ubicados en cubierta, culatas y cualquier otro sitio permitido por las autoridades Municipales, así como las ubicadas en lotes privados suburbanos o urbanos, y las ubicadas en vehículos automotores con dimensión superior a ocho metros cuadrados (8mts2) y hasta veinticuatro metros cuadrados (24mts2).

Pagaran el equivalente a un (1) salario mínimo mensual legal vigente (SMMLV) por año o fracción de año.

Todo tipo de vallas de más de veinticuatro metros cuadrados (24mts2), ubicados en cubierta, culatas y cualquier otro sitio permitido por las autoridades Municipales, asi como las ubicadas en lotes privados suburbanos o urbanos y las ubicadas en vehículos automotores con dimensión superior veinticuatro metros cuadrados

24mts2

Pagaran el equivalente a tres (3) salarios mínimos mensuales vigentes (SMMLV) por año o fracción de año.

Todo tipo de pantallas electrónicas o tipo LED demás de ocho metros cuadrados (8mts2) y hasta veinticuatro metros cuadrados (24mts2), ubicadas en lotes privados suburbanos o urbanos y las ubicadas en vehículos automotores con dimensión superior a ocho metros cuadrados (8mts2) y hasta veinticuatro metros cuadrados 24mts2

Pagaran el equivalente a tres (3) salarios mínimos mensuales legales vigentes (SM MLV) por año o fracción de año.

Todo tipo de pantallas electrónicas o tipo LED de más de veinticuatro metros cuadrados (24m2), ubicadas en cubiertas, culatas y cualquier otro sitio permitido por las autoridades Municipales: así como las ubicadas en lotes privados suburbanos o urbanos, y las ubicadas en vehículos automotores con dimensión superior a veinticuatro metros cuadrados (24m2).

Pagaran el equivalente a cinco (5) salarios mínimos mensuales legales vigentes (SMLMV) por año o fracción de año.

Parágrafo 1 0 . Las personas naturales o jurídicas cuya actividad económica sea la comercialización de espacios publicitarios mediante la publicidad exterior visual continuaran pagando su impuesto de industria y comercio y complementario de avisos y tableros.



Parágrafo 20. La autoridad ambiental o quien haga sus veces en el municipio de Valledupar autorizara la liquidación del impuesto al momento de expedir la autorización o renovación del uso del espacio público. No obstante, cuando se encuentren vallas instaladas sin autorización de la administración, la autoridad ambiental o quien haga sus veces remitirá esta información con las pruebas que obtenga a la Secretaría de Hacienda Municipal, quien realizará liquidación oficial y determinará el impuesto a cargo y los intereses de mora desde cuando se haya instalado la valla.

ARTíCULO 150. CUMPLIMIENTO DE NORMAS SOBRE ESPACIO PÚBLICO. Los contribuyentes del impuesto a la publicidad exterior visual deben dar cumplimiento a Io dispuesto en la Ley 140 de 1994, 90 de 1 989, 388 de 1997, y leyes que las adicionen o modifiquen.

ARTÍCULO 151. PLAZO PARA EL PAGO DEL IMPUESTO A LA PUBLICIDAD EXTERIOR VISUAL. Los sujetos pasivos del impuesto a la publicidad exterior visual deberán cancelar el impuesto, dentro de los diez (IO) días siguientes a la fecha de notificación del otorgamiento del registro por


parte de la autoridad ambiental o de la instalación efectiva o real de la valla o su prorroga o renovación. Vencido este término se causará intereses moratorios, sin perjuicio de las actuaciones administrativas que promuevan las autoridades competentes frente a la regulación pertinente.

ARTÍCULO 152. EXCLUSIONES. No estarán obligados a pagar el impuesto a la publicidad exterior visual:

I . Las vallas, pantallas o avisos de propiedad de la Nación, el Departamento y el Municipio, excepto las empresas comerciales e industriales del Estado y las de Economía Mixta de todo orden.

2.     Las entidades de beneficencia o Socorro.

3.     Los partidos políticos y candidatos, durante las campañas electorales siempre y cuando observen las limitaciones que para el efecto contempla la ley.

4.    


Los avisos, vallas o señales destinadas a la seguridad, prevención de accidentes y protección del medio ambiente.

5.     Las vallas, avisos, pantallas o señales que contengan información temporal de carácter educativo, cultural, deportivo o informativo, que coloquen las autoridades u otras personas por encargo de estas.

</p>
