<p>CAPÍTULO ll

    SOBRETASA AMBIENTAL
    ARTÍCULO 34. AUTORIZACIÓN LEGAL. La sobretasa ambiental de que trata este capítulo está establecida y autorizada por la ley 99 de 1993 y tiene como destino la protección del medio ambiente y los recursos naturales renovables.
    
    ARTÍCULO 35. SUJETO ACTIVO. En el Municipio de Valledupar, recaen las potestades tributarias de administración, control, fiscalización, liquidación, discusión y cobro. Mientras el sujeto activo beneficiario del recaudo de la sobretasa ambiental es la Corporación Autónoma Regional del Cesar, de acuerdo con la Ley 99 de 1993 y el marco legal vigente.
    
    ARTÍCULO 36. SUJETO PASIVO. El sujeto pasivo de la sobretasa ambiental es la persona natural o jurídica, propietaria o poseedora de predios ubicados en la jurisdicción del Municipio de Valledupar.
    
    ARTÍCULO 37. HECHO GENERADOR. La sobretasa ambiental recae sobre los bienes raíces ubicados en el Municipio de Valledupar sujetos al impuesto predial unificado.
    
    ARTÍCULO 38. CAUSACIÓN. La sobretasa ambiental se causa el 1 de enero del respectivo año gravable.
    
    ARTÍCULO 39. PERIODO GRAVABLE. El periodo gravable de la sobretasa es anual, y está comprendido entre el I de enero y el 31 de diciembre del respectivo año.
    
    
    
    ARTÍCULO 40. BASE GRAVABLE. La base gravable para liquidar la sobretasa ambiental será el avaluó de los bienes que sirven de base para liquidar el impuesto predial unificado.
    
    ARTÍCULO 41. TARIFA. La tarifa correspondiente a la sobretasa ambiental será del 1.5 por mil (I .5/1.000).
    
    ARTÍCULO 42. LIQUIDACIÓN DE LA SOBRETASA AMBIENTAL, En la facturación del impuesto predial unificado y las declaraciones forzosas y voluntarias de este tributo se incluirá el cobro de la sobretasa ambiental.
</p>
