<p>CAPÍTULO IX

    IMPUESTO DE DELINEACIÓN URBANA
    
    ARTÍCULO 162. AUTORIZACIÓN LEGAL. El impuesto de delineación urbana está autorizado por la Ley 97 de 1913 y el Decreto Ley 1333 de 1986
    
    ARTÍCULO 163. SUJETO ACTIVO. El municipio de Valledupar es el sujeto activo del impuesto de Delineación Urbana que se cause en su jurisdicción y en él radican las potestades tributarias de administración, control fiscalización, liquidación, discusión, recaudo, devolución y cobro.

    ARTÍCULO 164. SUJETO PASIVO. son sujetos pasivos del impuesto de delineación urbana los titulares de derechos reales principales, los poseedores, los propietarios del derecho de dominio a título de fiducia de los inmuebles sobre los que se realice la construcción, ampliación, modificación, restauración, reforzamiento estructural, reconstrucción, cerramiento, remodelación, o adecuación de obras o construcciones en el Municipio de Valledupar, y solidariamente los fideicomitentes de las misma, siempre y cuando sean propietarios de la construcción, ampliación, modificación, restauración, reforzamiento estructural, demolición, reconstrucción, cerramiento, remodelación, adecuación de obras o construcciones, en los demás casos, se considera contribuyente a quien ostente la condición de dueño de la obra.

También podrán ser sujeto pasivo las entidades previstas en el artículo 59 de la Ley 388 de 1997 0 la norma que Io adicione, modifique o sustituya, cuando se les haya hecho entrega del predio o predios objeto de adquisición, en los procesos de enajenación voluntaria y/o expropiación previstos en los capítulos VII y VIII de la Ley 388 de 1997 igualmente serán sujetos pasivos del impuesto los propietarios comuneros.



ARTÍCULO 165. HECHO GENERADOR. El hecho generador del impuesto de delineación urbana lo constituye la ejecución de obras o construcciones a las cuales se les haya expedido y notificado licencia de construcción y sus modificaciones, en sus modalidades de obra nueva, ampliación, adecuación, modificación, restauración, reforzamiento estructural, reconstrucción y cerramiento, previstas en el Decreto 1077 de 2015.

Igualmente, constituye hecho generador del impuesto el reconocimiento de la existencia de edificaciones realizado por la autoridad competente para expedir licencias de construcción de conformidad con el Decreto 1077 de 2015.

Adiciónese al artículo 165 el siguiente parágrafo:

PARAGRAFO. El pago del impuesto de delineación urbana será requisito indispensable para radicación en debida forma de la solicitud de expedición de la licencia urbanística ante las Curadurías Urbanas para el caso de las licencias de construcción y sus modificaciones, en sus modalidades de obra

nueva, ampliación, adecuación, modificación, restauración, reforzamiento estructural, demolición, reconstrucción y cerramiento, previstas en los artículos 7 y 64 del Decreto 1469 del 2010 0 la norma que lo adicione o modifique

Cuando se trate de reconocimiento de construcción, la declaración del impuesto de delineación urbana deberá presentarse en la fecha de la respectiva solicitud, debiendo acreditarse ante el curador la respectiva presentación y pago del respectivo impuesto.

ARTÍCULO 166. BASE GRAVABLE. La base gravable para la liquidación del impuesto de delineación urbana en el Municipio de Valledupar es el monto total del presupuesto de obra o construcción.

Se entiende por "monto total del presupuesto de obra o construcción" el valor ejecutado de la obra, es decir, aquel que resulte al realizar la construcción, ampliación, adecuación, modificación, restauración, reforzamiento estructural, reconstrucción y cerramiento de obras o construcciones, dentro del término de la vigencia de la licencia incluida su prorroga.

En el caso de reconocimiento de construcciones en el Municipio de Valledupar, la base gravable será el resultado de multiplicar el valor de los metros construidos por el valor del metro cuadrado que fije la Oficina Asesora de Planeación Municipal o quien haga sus veces, para el respectivo periodo objeto del acto de reconocimiento.

La tarifa para los demás predios diferentes al uso residencial será del 1.30 0/0

ARTÍCULO 168. COSTO MÍNIMO DE PRESUPUESTO. El presupuesto de obra o construcción contemplados en este capítulo no puede ser inferior al valor que resulte de multiplicar el costo mínimo por metro cuadrado por estrato y uso, y el área total construida o intervenida de la obra.

Para tales efectos, la Oficina Asesora de Planeación Municipal o quien haga sus veces fijará los costos mínimos por metro cuadrado por estrato y uso.

Parágrafo. El presupuesto de obra o construcción está conformado por el costo directo del valor total de la obra, es decir, el que resulte de sumar el costo de mano de obra, materiales, tecnología y/o maquinaria y equipo, dentro del término de la vigencia de la licencia de construcción, sus modificaciones y modalidades incluida su prórroga.

ARTÍCULO 169. PROYECTOS POR ETAPAS. En el caso de licencias de construcción para varias etapas, las declaraciones, impuestos, sanciones e intereses, se deberá realizar sobre cada una de ellas, de manera independiente, cada vez que se inicie cada etapa.

		

Parágrafo 1 0 . La declaración y pago del impuesto de delineación urbana, se realizará en el formulario que para tal efecto prescriba la administración municipal,

Parágrafo 2 0 . La declaración del impuesto de delineación urbana se tendrá por no presentada cuando no contenga la constancia de pago del total de los valores correspondientes a impuestos, sanciones e intereses por mora que se hubieren causado al momento de la presentación de la declaración.

ARTíCULO 170. DEVOLUCIÓN DE IMPUESTO DE DELINEACIÓN URBANA. En los casos en que el impuesto de delineación urbana no sea causado en forma total o parcialmente en la vigencia de la licencia urbanística incluyendo su prorroga, el contribuyente solicitará a la Secretaria de Hacienda la devolución del valor total o parcial según sea el caso, siguiendo el procedimiento tributario respectivo.

ARTíCULO 171. EXCLUSIONES. Están excluidos de la obligación de declarar y pagar la construcción de edificaciones, refacción o reconocimiento de las existentes adelantadas por el Municipio o sus entidades descentralizadas en predios que sean de su propiedad o posesión.

ARTÍCULO 172. EXENCIONES. Estarán exentas del pago del impuesto de Delineación Urbana:

1.    La construcción y adecuación de bienes inmuebles declarados como bienes de interés Cultural de Carácter Nacional (Sector Fundacional de Valledupar), de conservación histórica y de patrimonio histórico, siempre y cuando en ellos se adelanten obras tendientes a su restauración o conservación.

2.    Las obras que se realicen para reparar o reconstruir los inmuebles afectados por actos terroristas o catástrofes naturales ocurridos en el Municipio de Valledupar, en las condiciones que, para tal efecto, establezca la Administración Municipal.

3.    Las organizaciones sociales sin ánimo de lucro, juntas de acción comunal y asociaciones comunitarias de vivienda debidamente reconocida que tramiten proyectos de construcción o mejoramiento de vivienda de interés social (VIS) en el área rural y urbana del Municipio de Valledupar sin perjuicio de la obligatoriedad de cumplir con los tramites de ley diferentes a la presente exención.

4.    Los proyectos de autoconstrucción de vivienda, de estratos 1 y 2, que no excedan los topes definidos por la ley para el valor de la vivienda de interés social, entendiendo por autoconstrucción de vivienda, la construcción que determinada persona realiza para habitar en ella.

5.    Los proyectos de construcción de la iglesia católica y demás iglesias diferentes a la católica reconocidas por el estado colombiano, destinaos al culto y vivienda de las comunidades religiosas, a las curias diocesanas y arquidiocesanas, casas episcopales y cúrales, seminarios conciliares, casa pastoral, seminarios y sedes conciliares. Los demás proyectos de construcción de las iglesias serán gravados en la misma forma que la de los particulares

</p>
