<p>ACUERDO No. 022

    16 de diciembre de 2022
    
    "POR MEDIO DEL CUAL SE COMPILA Y ACTUALIZA EL ESTATUTO
    
    TRIBUTARIO DEL MUNICIPIO DE VALLEDUPAR Y SE DICTAN OTRAS DISPOSICIONES".
    
    El CONCEJO DEL MUNICIPIO DE VALLEDUPAR, en ejercicio de sus facultades constitucionales y legales, en especial las conferidas por los artículos 287 y 313, numeral 4, de la Constitución Política, el artículo 32, numeral 7 de la Ley 136 de 1994 y el artículo 59 de la Ley 788 de 2002.
    
    ACUERDA:
    
    LIBRO PRIMERO
    
    CAPÍTULO PRELIMINAR
    
                                                                                                                                                 DISPOSICIONES GENERALES
    
    ARTÍCULO 1. OBJETO Y CONTENIDO. El Estatuto Tributario del Municipio de Valledupar tiene por objeto la definición de los tributos municipales, su administración, control, recaudo, determinación, discusión, devolución y cobro, al igual que la regulación del régimen sancionatorio.
    
    El Estatuto contiene, además, las normas procedimentales que regulan la competencia y la actuación de los funcionarios y autoridades municipales en materia tributaria en el Municipio de Valledupar.
    
    Las modificaciones a las normas procedimentales que deban realizarse en virtud de los cambios en el procedimiento previsto en el Estatuto Tributario Nacional serán establecidas por Decreto Municipal.
    
    ARTiCULO 2. ADMINISTRACIÓN Y CONTROL. La administración de los tributos municipales del Municipio de Valledupar es competencia de la Secretaría de Hacienda y comprende su recaudación, fiscalización, liquidación, discusión, cobro, devolución, sanción y todos los demás aspectos relacionados con el cumplimiento de las obligaciones tributarias.
    
    Los contribuyentes, responsables, agentes de retención y terceros, están obligados a facilitar las tareas de la Secretaría de Hacienda, observando los deberes y obligaciones que les impongan las normas tributarias.
    
    ARTÍCULO 3. ORIGEN DE LA OBLIGACIÓN TRIBUTARIA SUSTANCIAL. La obligación tributaria sustancial se origina al realizarse el presupuesto o los presupuestos previstos en el presente Estatuto como generadores del impuesto y ella tiene por objeto el pago del tributo.
    
    ARTÍCULO 4. CONTRIBUYENTES. son contribuyentes o responsables directos *del pago del tributo los sujetos respecto de quienes se realiza el hecho generador de la obligación sustancial.
    
    ARTÍCULO 5. TRIBUTOS MUNICIPALES. El presente Estatuto regula los impuestos, tasas y contribuciones que se encuentren vigentes en el Municipio de Valledupar, los cuales son de su propiedad, tienen participación en su recaudo o es competente para realizar su liquidación o recaudo.
    
    a)    Impuesto predial unificado.
    
    b)    Sobretasa ambiental.
    
    c)     Impuesto de industria y comercio.
    
    d)    Impuesto de avisos y tableros.
    
    e)    Sobretasa bomberil.
    
    f)      Impuesto a la publicidad exterior visual.
    
    g)    Impuesto de espectáculos públicos.
    
    h)    Impuesto de delineación urbana.
    
    i)      Degüello de ganado menor.
    
    j)      Impuesto de alumbrado público.
    
    k)    Estampilla pro-Cultura,
    
    I) Estampilla para el bienestar del adulto mayor.
    
    m)  Estampilla pro-Universidad Popular del Cesar.
    
    n)    Participación en plusvalía.
    
    o)    Sobretasa a la gasolina motor.
    
    p)    Derechos de explotación de las rifas.
    
    q)    Derechos de tránsito.
    
    r)     Participación del Municipio de Valledupar en el impuesto de vehículos automotores.
    
    s)     Tasa Pro-Deporte y recreación
    
    ARTÍCULO 6. RÉGIMEN APLICABLE A OTROS IMPUESTOS. Los tributos que se establezcan y aquellos no comprendidos en el presente Estatuto se regirán por las normas sustanciales que los regulen, pero en los aspectos procedimentales se someterán a lo establecido en este Acuerdo,
    
    ARTÍCULO 7. EXENCIONES Y TRATAMIENTOS PREFERENCIALES. El Concejo Municipal de Valledupar, solo podrá otorgar exenciones por plazo limitado que en ningún caso excederá de diez (IO) años, todo de conformidad con los planes de desarrollo municipal.
    
    ARTíCULO 8. PROHIBICIONES Y NO SUJECIONES. En materia de prohibiciones y no sujeciones se tendrá en cuenta las contenidas en las normas vigentes entre ellas:
    
    a)   Las obligaciones contraídas por el Gobierno en virtud de tratados o convenios internacionales que haya celebrado o celebre en el futuro, y las contraídas por la Nación, los Departamentos o los Municipios, mediante contratos celebrados en desarrollo de la legislación anterior.
    
    b)   Las obligaciones consagradas en la Ley 26 de 1904:
    
    •      La de imponer gravámenes de ninguna clase o denominación a la producción primaria agrícola, ganadera y avícola, sin que se incluyan en esta prohibición las fábricas de productos alimenticios o toda industria donde haya un proceso de transformación por elemental que
    
    éste Sea.
    
    •      La de gravar los artículos de producción nacional destinados a la exportación.
    
    
    •      La de gravar con el impuesto de Industria y Comercio la explotación de canteras y minas diferentes de sal, esmeraldas y metales preciosos, cuando las regalías o participaciones para el municipio sean iguales o superiores a lo que corresponderá pagar por concepto del impuesto de Industria y Comercio.
    
    •      La de gravar con el impuesto de Industria y Comercio los establecimientos educativos públicos, las entidades de beneficencia, las culturales y deportivas, los sindicatos, las asociaciones de profesionales y gremiales sin ánimo de lucro, los partidos politicos y los hospitales adscritos o vinculados al sistema nacional de salud.
    
    •      La de gravar la primera etapa de transformación realizada en predios rurales cuando se trate de actividades de producción agropecuaria, con excepción de toda industria donde haya una transformación por elemental que ésta sea.
    
    c)   
    
    
    En virtud del artículo 137 de la Ley 488 de 1998, los predios que se encuentren definidos legalmente como parques naturales o como parques públicos de propiedad de entidades estatales, no podrán ser gravados con impuestos, ni por la Nación ni por las entidades territoriales.
    
    CAPÍTULO I
    
    IMPUESTO PREDIAL UNIFICADO
    
    ARTÍCULO 9. AUTORIZACIÓN LEGAL. El impuesto predial unificado está autorizado por la ley 44 de 1990, como resultado de la unificación de los siguientes gravámenes.
    
    a)    El Impuesto Predial regulado en el Código de Régimen Municipal adoptado por el Decreto 1333 de 1986 y demás normas complementarias, especialmente las Leyes 14 de 1983, 55 de 1985 y 75 de 1986;
    
    b)   El impuesto de parques y arborización, regulado en el Código de Régimen Municipal adoptado por el Decreto 1333 de 1986;
    
    c)    El impuesto de estratificación socioeconómica creado por la Ley 9 de 1989,
    
    d)   La sobretasa de levantamiento catastral a que se refieren las Leyes 128 de 1941, 50 de 1984 y 9 de 1989.
    
    ARTÍCULO 10. SUJETO ACTIVO. El Municipio de Valledupar, es el sujeto activo del impuesto predial unificado que se cause en su jurisdicción y en él radican las potestades tributarias de administración, control, recaudo, fiscalización, liquidación, discusión, devolución y cobro.
    
    ARTÍCULO 11. SUJETO PASIVO. El sujeto pasivo del Impuesto Predial Unificado es la persona natural, jurídica o sociedades de hecho, propietaria o poseedora de bienes inmuebles ubicados en la jurisdicción del municipio de Valledupar. Y aquellos en quienes se realice el hecho gravado, a través de consorcios, uniones temporales, o patrimonios autónomos.
    
    Asimismo, son sujetos pasivos, los tenedores a título de arrendamiento, uso, usufructo u otra forma de explotación comercial que se haga mediante establecimiento mercantil dentro de las áreas objeto del contrato de concesión correspondiente a puertos aéreos.
    
    Cuando se trate de predios sometidos al régimen de comunidad serán sujetos pasivos del gravamen los respectivos propietarios.
    
    Cuando se trate de predios vinculados y/o constitutivos de un patrimonio autónomo serán sujetos pasivos del gravamen los respectivos fideicomitentes y/o beneficiarios del respectivo patrimonio.
    
    Si el dominio del predio estuviere desmembrado, como en el caso del usufructo, la carga tributaria será satisfecha por el usufructuario.
    
    También serán sujetos pasivos del impuesto, los tenedores a título de arrendamiento, uso público de la Nación o el Municipio. El pago de este impuesto no genera ningún derecho sobre el terreno ocupado.
    
    En materia de impuesto predial los bienes de uso público y obra de infraestructura continuaran excluidos de tales tributos, excepto las áreas ocupadas por establecimientos mercantiles.
    
    Frente al impuesto a cargo de los patrimonios autónomos los fideicomitentes y/o beneficiarios, son responsables por las obligaciones formales y sustanciales del impuesto, en su calidad de sujetos pasivos.
    
    En los contratos de cuenta de participación el responsable del cumplimiento de la obligación de declarar es el socio gestor, en los consorcios, socios o participes de los consorcios, uniones temporales, lo será el representante de la forma contractual.
    
    ARTÍCULO 12. HECHO GENERADOR. El impuesto predial unificado es un gravamen real que recae sobre los bienes raíces ubicados en la jurisdicción del Municipio de Valledupar y se genera por la existencia de este.
    
    El inmueble constituirá garantía de pago independientemente de quien sea su propietario, y la Secretaría de Hacienda podrá perseguir el bien inmueble sin importar en cabeza de quien este emitido el título ejecutivo. Esta disposición no tendrá lugar contra el tercero que haya adquirido el inmueble en pública subasta ordenada por el juez, caso en el cual el juez deberá cubrirlos con cargo al producto del remate.
    
    De igual manera, se gravan con el impuesto predial unificado las construcciones edificaciones o cualquier tipo de mejora sobre bienes de uso público de la Nación, el Departamento o el Municipio, cuando estén en manos de particulares.
    
    ARTÍCULO 13. BASE GRAVABLE. La base gravable del impuesto predial unificado será el avaluó catastral resultante de los procesos de formación, actualización de la información y conservación, vigente al momento de causación del impuesto.
    
    PARÁGRAFO 1 0 . Si el contribuyente presenta solicitud de revisión, a efectos de acogerse a los estímulos por pronto pago, deberá pagar dentro de los plazos señalados, con el avalúo catastral vigente al momento de la causación
    
    
    y una vez obtenida la decisión de revisión ante el Instituto Geográfico Agustín Codazzi, si se modifica el avalúo catastral se corregirá la liquidación factura.
    
    PARÁGRAFO 2 0 . En el caso previsto en el inciso segundo del artículo I I del presente Estatuto, la base gravable se determinará así:
    
    a)    Para los arrendatarios el valor de la tenencia equivale a un canon de arrendamiento mensual;
    
    b)   Para los usuarios o usufructuarios el valor del derecho de uso del área objeto de tales derechos será objeto de valoración pericial;
    
    c)    En los demás casos la base gravable será el avalúo que resulte de la proporción de áreas sujetas a explotación, teniendo en cuenta la información de la base catastral.
    
    ARTÍCULO 14. BASE GRAVABLE PARA AUTOAVALÚO. El contribuyente podrá determinar como base gravable un valor diferente al avaluó catastral, en este caso deberá tener en cuenta que el valor no puede ser inferior a:
    
    a)   El avaluó catastral vigente para ese año gravable.
    
    b)   Al último autoavalúo, aunque hubiese sido hecho por propietario distinto al declarante.
    
    c)    El que resulte de multiplicar el número de metros cuadrados de área y/o de construcción por el precio por metro cuadrado fijado por las autoridades catastrales.
    
    ARTÍCULO 15. IMPUESTO PREDIAL PARA LOS BIENES EN
    
    COPROPIEDAD. En los términos de la ley 675 de 2001 y de conformidad con Io establecido en el inciso 2 0 del artículo 16 de la misma, el impuesto predial sobre cada bien privado que hace parte del régimen de propiedad horizontal incorpora Io correspondiente a los bienes comunes del edificio o conjunto, en proporción al coeficiente de copropiedad respectivo.
    
     
    
    ARTÍCULO 16. CAUSACIÓN. El impuesto predial unificado se causa el 1 0 de enero del respectivo año gravable.
    
    ARTÍCULO 17. PERIODO GRAVABLE. El periodo gravable del impuesto predial unificado es anual y está comprendido entre el 1 0 de enero y el 31 de diciembre del respectivo año gravable.
    
    ARTíCULO 18. TARIFAS DEL IMPUESTO PREDIAL UNIFICADO. Las tarifas del impuesto predial unificado se fijan en cinco grandes grupos y sobre el rango de avaluó catastral, y serán las siguientes:
    
    1.     
    
    
    PREDIOS URBANOS RESIDENCIALES, RURALES (Corregimientos)Estrato I , 2 y 3.
    
    Rango de avalúo
    
    Tarifa or mil
    
    De O SMMLV y hasta 70 SMMLV
    
    1.0
    
    Mayor a 70 SMMLV a 135 SMMLV
    
    2.0
    
    Ma or a 135 SMMLV a 200 SMMLV
    
    5.0
    
    Mayor a 200 SMMLV a 500 SMMLV
    
    6.0
    
    Mayor a 500 SMMLV a 700 SMMLV
    
    7.0
    
    Mayor a 700 SMMLV a 900 SMMLV
    
    8.0
    
    Mayor a 900 SMMLV a 1000 SMMLV
    
    9.0
    
    De 1000 SMMLV en adelante y área de terreno inferior a 2000 m2
    
    10.0
    
    De 1000 SMMLV en adelante y área de terreno igual o mayor a 2000 m2
    
    12.0
    
    2.      PREDIOS URBANOS DESTINO RESIDENCIAL (Estrato 4 en adelante) y otros destinos.
    
    Rango de avalúo
    
    Tarifa or mil
    
    De O SMMLV hasta 135 SMMLV
    
    5.0
    
    Ma or a 135 SMMLV a 200 SMMLV
    
    6.0
    
    Ma or a 200 SMMLV a 500 SMMLV
    
    7.0
    
    
     
    
    Rango de avalúo
    
    Tarifa or mil
    
    Ma or a 500 SMMLV a 700 SMMLV
    
    8.0
    
    Ma or a 700 SMMLV a 900 SMMLV
    
    9.0
    
    Ma or a 900 SMMLV a 1000 SMMLV
    
    10.0
    
    De 1000 SMMLV en adelante y área de terreno inferior a 2000 m2
    
    12.0
    
    De 1000 SMMLV en adelante y área de terreno igual o mayor a 2000 m2
    
    14.0
    
    3.      PREDIOS DE USO COMERCIAL Y DE SERVICIOS
    
    Rango de avalúo
    
    Tarifa or mil
    
    Avalúo menor o i ual a 200 SMMLV
    
    7.0
    
    Ma or a 200 SMMLV
    
    10.0
    
    4.      PREDIOS DE USO INDUSTRIAL
    
    Rango de avalúo
    
    Tarifa or mil
    
    Avalúo menoro i ual a 200 SMMLV
    
     
    
    Ma or a 200 SMMLV
    
    11.0
    
    5.      PREDIOS URBANIZABLES, NO URBANIZABLES Y NO EDIFICADOS
    
    Las tarifas aplicables a los terrenos urbanizables no urbanizados con la ley 09 de 1989, podrán ser superiores al límite señalado en el primer inciso del artículo 23 de la ley 1450 de 2011, sin que excedan del 33 por mil. En el Municipio de Valledupar, estas tarifas serán:
    
     
    
    
    Uso/destino
    
    Tarifa or mil
    
    Predios no urbanizables
    
    2.0
    
    Predios urbanizables no urbanizados
    
    22.0
    
    Predios urbanizados no edificados de avaluó hasta 90 SMMLV
    
    15.0
    
    Predios urbanizados no edificados con avaluó superior a 90
    
    SMMLV
    
    24.0
    
    6.      PREDIOS RECREACIONALES, AGROPECUARIOS Y DEMÁS PREDIOS RURALES.
    
    Rango de avalúo
    
    Tarifa or mil
    
    De SMMLV hasta 15 SMMLV
    
    2.5
    
    Ma orde 15 SMMLV hasta 70 SMMLV
    
    3.0
    
    Ma ora 70 SMMLV hasta 135 SMMLV
    
    3.5
    
    Ma ora 135 SMMLV
    
    a 200 SMMLV
    
    5.0
    
    Ma a 200 SMMLV
    
    a 500 SMMLV
    
    5.5
    
    Ma ora 500 SMMLV
    
    a 700 SMMLV
    
    6.0
    
    Ma or a 700 SMMLV
    
    a 900 SMMLV
    
    6.5
    
    Ma ora 900 SMMLV
    
    a 1000 SMMLV
    
    7.0
    
    De 1000 SMMLV en adelante
    
    7.5
    
    ARTÍCULO 19. PREDIOS NO URBANIZABLES. se consideran predios no urbanizables aquellos que por su localización no pueden ser urbanizados, tales como los ubicados por debajo de la cota de la ronda de rio o por encima de la cota de servicios, o las áreas de amenaza por riesgo no mitigable.
    
    ARTÍCULO 20. PREDIOS URBANIZABLES NO URBANIZADOS. se consideran predios urbanizables no urbanizables aquellos que pueden ser desarrollados urbanísticamente y que no han adelantado un proceso de urbanización.
    
    ARTÍCULO 21. PREDIOS EDIFICABLES NO EDIFICADOS. Se consideran predios edificables no edificados los ubicados en el perímetro urbano que se encuentren improductivos, es decir, cuando encontrándose en suelo urbano no esté adecuado para tal uso.
    
    Se exceptúan de la presente definición, los inmuebles que se ubiquen en el suelo de protección, las áreas verdes y espacios abiertos de uso público y los estacionamientos públicos debidamente autorizados y en operación.
    
    ARTÍCULO 22. PREDIOS RURALES. son predios rurales los ubicados por fuera del perímetro urbano.
    
    ARTÍCULO 23. MEJORAS NO INCORPORADAS AL CATASTRO, Los propietarios o poseedores de terrenos y construcciones y/o edificaciones que no hayan sido incorporadas al catastro, deberán comunicar a la autoridad catastral correspondiente, la ubicación del terreno y de las construcciones y/o edificaciones, el área y valort la escritura registrada o documento de adquisición, así como también la fecha de terminación de las edificaciones, con el fin de que dicha entidad catastra incorpore estos inmuebles al catastro.
    
    ARTÍCULO 24. LÍMITE DEL IMPUESTO PREDIAL UNIFICADO El impuesto predial unificado no podrá exceder del doble del monto liquidado por el mismo concepto en el año inmediatamente anterior.
    
    Esta limitación no se aplicará para:
    
    a)    Los predios que se incorporen por primera vez al catastro.
    
    b)   Los terrenos urbanizables no urbanizables o urbanizados no edificados
    
    c)    Para los predios que figuraban como lotes no construidos y cuyo nuevo avaluó se origina por la construcción o edificación en él realizada.
    
    Parágrafo. Para predios residenciales urbanos y rurales se aplicarán los siguientes limites en el impuesto liquidado con relación a la vigencia anterior, salvo en los casos enunciados en los literales a), b) y c) del inciso anterior, los cuales no tienen limite de liquidación:
    
     
    
    Rango de avalúo
    
    Incremento máximo %
    
    De O SMMLV hasta 70 SMMLV
    
    10
    
    Ma ores a 70 SMMLVA hasta 1 35
    
    20
    
    Ma ora 135 SMMLV a 200 SMMLV
    
    25
    
    Ma a 200 SMMLV a 500 SMMLV
    
    30
    
    Mayor a 500 SMMLV a 700 SMMLV
    
    35
    
    Ma ora 700 SMMLV a 900 SMMLV
    
    40
    
    Ma a 900 SMMLV a 1000 SMMLV
    
    50
    
    De 1000 SMMLV en adelante
    
    60
    
    ARTÍCULO 25. EXCLUSIONES DEL IMPUESTO PREDIAL UNIFICADO. No causaran impuesto predial unificado los siguientes inmuebles.
    
    1.     Los predios beneficiados con la exclusión del impuesto en virtud de convenios o tratados internacionales en los términos que señalen dichos convenios.
    
    2.     Los predios de propiedad de las misiones diplomáticas, embajadas y consulados acreditados en nuestro país.
    
    3.     Los predios de propiedad de la iglesia católica y demás iglesias diferentes a la católica reconocidas por el estado colombiano, destinados al culto y vivienda de las comunidades religiosas, a las curias diocesanas y arquidiocesanas, casas episcopales y cúrales, seminarios conciliares, a las casas pastorales, seminarios y sedes conciliares. Las demás propiedades de las iglesias serán gravadas en la misma forma que la de los particulares.
    
    4.     Los predios que se encuentren definidos legalmente como parques naturales o como parques públicos de propiedad de entidades estatales, en los términos señalados en la ley
    
    5.    De acuerdo con el artículo 674 del código civil, los bienes de uso público a excepción de las construcciones, edificaciones o cualquier tipo de mejora sobre bienes de uso público de la nación o del Municipio, cuando estén en manos de particulares.
    
    6.     Los bienes de uso público de propiedad de todas las entidades públicas.
    
    7.     Los inmuebles que siendo de propiedad de particulares, el municipio de Valledupar hubiese asumido como poseedor de estos, con el fin de prestar el servicio educativo, siempre y cuando sean donados o cedidos gratuitamente y a favor del municipio de Valledupar.
    
    8.     Los predios de propiedad de la defensa civil, cruz roja y bomberos Voluntarios, dedicados únicamente a los fines propios de cada institución.
    
    9.     Los inmuebles de propiedad del municipio de Valledupar, a menos que se encuentren en posesión o usufructo de particulares.
    
    IO. Los predios que siendo de propiedad de particulares, están sometidos a constitución de áreas de cesión, siempre y cuando estas áreas de cesión hayan sido constituidas formalmente a través de las respectivas licencias urbanísticas, elevadas a escritura pública y sometida a registro, previo concepto de la Oficina Asesora de planeación en el cual se acrediten cumplidas las condiciones de ley.
    
    Parágrafo 1 0 . Cuando en los inmuebles a que se refiere el numeral 3 de este artículo, se realicen actividades diferentes al culto y vivienda de las comunidades religiosas, serán sujetos del impuesto en relación con la parte destinada a uso diferente.
    
    ARTÍCULO 26. EXONERACIONES DEL IMPUESTO PREDIAL UNIFICADO Están exentos del impuesto predial unificado:
    
    (Modificado por el Artículo 2 del Acuerdo 007 del 1 0 . de Julio de 2021 )
    
    1.    Por diez años a partir del 2019 y en un 60% del impuesto predial unificado, para los inmuebles calificados como patrimonio histórico, cultural o arquitectónico del Municipio de Valledupar ubicados en el centro histórico; siempre y cuando sean de destinación exclusiva a vivienda y uso comercial, siempre y cuando cumplan las obligaciones generales de conservación y mantenimiento exigidos por la ley. Para ello la Oficina de Planeación Municipal deberá emitir un concepto a fin de poder acceder a este beneficio, en el cual se certifiquen las anteriores condiciones, además se deberá realizar visita al predio con el fin de determinar el uso del mismo.
    
    2.    Desde el I de enero de 2019 hasta el 2021, quienes construyan parqueaderos para servicio público en la zona céntrica del Municipio de Valledupar (entiéndase por zona céntrica la certificada por la Oficina Asesora de Planeación), tendrán las siguientes exenciones para los próximos siete (7) años:
    
     
    
     
    
    Año
    
    % sobre el im uesto a car o
    
    Primer año
    
    100%
    
    Se undo año
    
    90%
    
    Tercer año
    
    80%
    
    Cuarto año
    
    70%
    
    Quinto año
    
     
    
    Sexto año
    
    25%
    
    Sé timo año
    
    5%
    
    Octavo año
    
    0%
    
    3 En un ciento por ciento (100%) del impuesto predial unificado, para el predio de uso residencial en donde habita la persona víctima de secuestro o desaparición forzada, que sea de propiedad del secuestrado o desaparecido, de su cónyuge o compañero (a) permanente y los familiares que dependan económicamente del secuestrado o desaparecido hasta el segundo grado de consanguinidad.
    
    El término de esta exención será de tiempo que dure el secuestro o desaparición forzosa, más un año adicional, sin exceder el termino de diez (IO) años.
    
    4.     Los inmuebles de la Nación, el departamento del Cesar, o el Municipio de Valledupar, dedicados exclusivamente a actividad de la enseñanza y de beneficencia.
    
    5.     En un cincuenta por ciento (50%) del impuesto predial unificado, y por el termino de cinco años (5) para los predios en los cuales se ha producido una calamidad producto de un evento de fuerza mayor o caso fortuito, tales como terremotos, previo concepto de la Secretaría de Gobierno Municipal en el cual se establezca la situación de calamidad o de catástrofe sobre el predio objeto de la exoneración.
    
    INCENTIVOS EN MATERIA DEL IMPUESTO PREDIAL UNIFICADO PARA LA GENERACIÓN DE EMPLEO Y FORMALIZACIÓN LABORAL EN EL MUNICIPIO DE VALLEDUPAR
    
    ARTÍCULO 27. DESCUENTO EN EL IMPUESTO PREDIAL UNIFICADO. Las nuevas empresas que entre el 1 0 de enero de 2019 y el 31 de diciembre de 2023, se radiquen y desarrollen su actividad economica principal dentro de la jurisidicción del Municipio de Valledupar, tendrán una exención en el pago del impuesto predial unificado, siguiendo los parametros que se mencionan a continuacion:
    
    1.  Cien por ciento (100%) de la tarifa del impuesto predial unificado en los dos primeros años gravables, a partir del inicio de su actividad economica principal en la jurisdiccion del municipio de Valledupar.
    
    2.  Setenta y cinco por ciento (75%) de la impuesto predial unificado en el tercer año gravable, a partir del inicio de su actividad economica principal en la jurisdiccion del municipio de Valledupar.
    
    3.  Cincuenta por ciento (50%) de la tarifa del impuesto predial unificado en el cuarto y quinto año gravable, a partir del inicio de su actividad economica principal en la jurisdiccion del municipio de Valledupar.
    
    Para los efectos del presente articulo se deberán cumplir con las siguientes condiciones:
    
    a) Generar una cantidad minima de empleo directo.
    
    
    Periodos de beneficio
    
    Cantidad minima            de em leo directo
    
    Año 1
    
    10
    
    Año 2
    
    10
    
    Año 3
    
    10
    
    Año 4
    
    10
    
    Año 5
    
    10
    
    b)           Los empleados que vinculen deben ser residentes del municipio de Valledupar, y su contrato laboral no puede ser inferior a diez (10) meses.
    
    c)            Debe cumplir y mantener la cantidad minima de empleo por cada año en el que solicite el beneficio.
    
    d)           La empresa beneficiaria del incentivo debe operar o prestar los servicios desde el municipio de Valledupar.
    
    Paragrafo 1 0 . Definiciones:
    
     Empleo directo. Es aquel que se genera cuando el beneficiario del incentivo, vincula personal a través de contratos laborales a partir del 1 0 de enero de 2019.
    
    Nuevas empresas. Empresas legalmente constituidas que tienen su domicilio principal en otro municipio y abren establecimientos de comercio en Valledupar debidamente inscritos en la Cámara de Comercio.
    
    Paragrafo 2 0 . Este incentivo no aplica para empresas que a la vigencia de este Acuerdo se encuentren domiciliadas o tengan establecimientos de comercio en el municipio de Valledupar.
    
    Paragrafo 30 . En ningún caso, el descuento previsto se podrá realizar sobre los pagos efectuados a personas que se vinculen para reemplazar personal contratado con anterioridad.
    
    Paragrafo 40 . No podrán ser beneficiarias de este artículo las cooperativas de trabajo asociado en relación con sus asociados.
    
     
    
    Parágrafo 50 . Para el reconocimiento de la exención de que trata este artículo se presentará la solicitud escrita ante la secretaría de Hacienda, allegando los documentos que acrediten el cumplimiento de los requisitos establecidos en el presente artículo.
    
    Parágrafo 6 0 . Para las nuevas empresas de que trata este artículo, dedicadas exclusivamente a ejercer actividades que comprendan la producción, industrialización y comercialización de productos agropecuarios, forestales y otros recursos naturales biológicos, tendrán una exención del cien por ciento (100%) en el pago del impuesto predial unificado durante diez años a partir de su creación.
    
    Adiciónese el siguiente parágrafo, en virtud del Artículo 3 del Acuerdo No. 007 del I de Julio de 2021.
    
    Parágrafo 70 . Los micro, pequeños y medianos empresarios (MIPYME) que a partir de la vigencia 2021 generen mínimo cuatro (4) empleos directos, y que cumplan con las condiciones establecidas en el presente artículo, tendrán un descuento del 50% en el pago del Impuesto Predial Unificado en las vigencias
    
    2022 y 2023
    
    ARTÍCULO 28. INCENTIVOS POR PRONTO PAGO.
    
    Modificado por el Artículo 24 del Acuerdo No. 013 del 27 de noviembre de 2020.
    
    Los contribuyentes que paguen la totalidad del impuesto predial unificado, dentro de los plazos que establezca la administración municipal, tendrán un descuento hasta del veinte por ciento (20%) del valor del impuesto a cargo, sin que supere el tiempo de incentivo, el primer semestre de cada vigencia fiscal.
    
    La administración municipal establecerá el calendario y fijará los descuentos atendiendo el tope anteriormente señalado.
    
    Parágrafo 1 0 . Para todos aquellos contribuyentes que, a 31 de diciembre de la vigencia fiscal anterior a la causación del impuesto, se encuentre a paz y salvo por concepto de impuesto predial unificado, tendrán un cinco por ciento (5%) adicional en los descuentos establecidos por la administración municipal para la vigencia fiscal actual.
    
     
    
    ARTÍCULO 29. SISTEMA OPCIONAL DE PAGO POR CUOTAS DEL IMPUESTO PREDIAL UNIFICADO. Previa expedición del decreto reglamentario pertinente por parte de la administración municipal, se establece el sistema opcional de pago por cuotas.
    
    Conforme a Io anterior, las personas naturales propietarios de bienes o predios de uso residencial, podrá optar por esta modalidad bien sea a solicitud de parte o de manera automática según reglamentación que para el efecto se expida.
    
    La reglamentación fijará las posibles opciones de implementación, incluidas entre otras, el pago por intermedio de la administración municipal, las empresas de servicios públicos, empresas de telecomunicaciones, o los establecimientos de crédito vigilados por la Superintendencia Financiera quienes podrán incluir en sus facturas de servicios públicos, extractos, cuentas de cobro por concepto de créditos o en servicio de domiciliación, el valor correspondiente al Impuesto Predial Unificado y sobretasas de la respectiva vigencia diferido al número de cuotas que establezca el reglamento.
    
    El o los descuentos aplicables en este Sistema Opcional de Pago por Cuotas serán reglamentados por la administración municipal. En ningún caso la utilización de este Sistema causará intereses al contribuyente, salvo cuando no se verifique el debido cumplimiento de las cuotas.
    
    Conforme a todo lo anterior, las empresas de servicios públicos, empresas de telecomunicaciones, o los establecimientos de crédito vigilados por la Superintendencia Financiera, recaudarán las cuotas y transferirá tales recursos a la Secretaría de Hacienda Municipal, en los términos, plazos y condiciones que se establezcan en el reglamento.
    
    Parágrafo Transitorio. El Sistema Opcional de Pago por Cuotas para el impuesto predial unificado, únicamente empezará a regir para la siguiente vigencia fiscal una vez se expida el decreto reglamentario pertinente.
    
    ARTÍCULO 30. FACTURACIÓN DEL IMPUESTO. El impuesto predial unificado lo liquidará anualmente la Secretaría de Hacienda sobre el avaluó catastral vigente a primero (1 0 ) de enero de la respectiva vigencia fiscal mediante el sistema de facturación, la cual constituirá liquidación oficial y
    
    
    prestará merito ejecutivo. El cálculo del impuesto se hará de acuerdo con la clasificación y tarifas señaladas en el presente Estatuto,
    
    La liquidación factura del impuesto predial unificado deberá contener como mínimo:
    
    a)    Fecha. En caso de no indicarse, se tendrá como tal la de su notificación,
    
    b)   Periodo gravable;
    
    c)    Identificación del periodo objeto del gravamen;
    
    d)   Las características jurídicas y fiscales suministradas por la autoridad catastral del predio objeto de gravamen;
    
    e)    El avalúo catastral que corresponde a la base gravable del impuesto;
    
    f)     El estrato socioeconómico del predio;
    
    g)    La tarifa correspondiente;
    
    h)   El monto del impuesto y demás conceptos que deban liquidarse con este;
    
    i)      Firma manual o mecánica del funcionario competente;
    
    j)      Constancia de los recursos que proceden contra el correspondiente acto administrativo, el plazo para su presentación y el funcionario ante quien debe interponerse.
    
    
    
    La notificación de la liquidación factura se realizará mediante inserción en la página web del Municipio y, simultáneamente, con la publicación en medios físicos en el registro, cartelera o lugar visible del Municipio. No obstante, la administración municipal para efectos de divulgación podrá enviar la liquidación factura con el recibo oficial de pago a la dirección del contribuyente y/o del predio, sin que la omisión de esta formalidad invalide la notificación efectuada.
    
    Frente a la liquidación factura procede el recurso de reconsideración, el cual deberá interponerse dentro de los dos meses siguientes a la fecha de notificación de la factura.
    
    ARTiCULO 31. OBLIGADOS A PRESENTAR DECLARACIÓN DEL IMPUESTO PREDIAL UNIFICADO. El sistema de determinación del impuesto predial unificado es por liquidación oficial, no obstante, cuando no se encuentre formado el avalúo por parte de la autoridad catastral, el contribuyente estará obligado a presentar declaración privada y determinará como base gravable mínima el resultado de aplicar las siguientes reglas.
    
    
    
    Acuerdo No. 022 del 16 de diciembre de 2022
    
    Carrera 5 No. 15 — 69 Centro, Teléfonos: 605 5732797

    
    a.    Para determinar el valor mínimo de base para el impuesto predial unificado, los propietarios o poseedores de predios construidos que tomen parte de una propiedad horizontal tomaran el valor por metro cuadrado según la categoría que le corresponda al predio conforme a la tabla que establezca el Instituto Geográfico Agustín Codazzi-lGAC y lo multiplicará por el número de metros cuadrados de construcción que tenga el predio objeto de liquidación.
    
    b.   Para determinar el valor mínimo de base para el impuesto predial unificado, los propietarios o poseedores de inmueble que no hagan parte de propiedad horizontal tomaran el valor del metro cuadrado según la categoría que le corresponda tanto del terreno como del área construida, conforme a la tabla que construya el Instituto Geográfico Agustín CodazziIGAC y Io multiplicaran por los metros cuadrados correspondientes. La suma de los dos valores anteriores será el valor total de la base gravable del bien inmueble.
    
    
    
    Para liquidar el impuesto predial unificado de los inmuebles de que trata este artículo, los contribuyentes deberán tomar la base gravable mínima calculada conforme a lo establecido en los literales anteriores y la multiplicarán por la tarifa que corresponda al predio objeto de liquidación.
    
    ARTÍCULO 32. DECLARACIONES VOLUNTARIAS ADICIONAL DE MAYOR VALOR. Los propietarios o poseedores de los predios ubicados en la jurisdicción del Municipio de Valledupar, una vez pagado el impuesto determinado en la facturación, podrán dentro de la misma vigencia fiscal, liquidar y pagar mayores valores a los facturados, diligenciando una declaración adicional de mayor valor, en la cual se registrará el mayor valor del avaluó que declaran y liquidaran el impuesto correspondiente.
    
    Sobre las declaraciones adicionales de mayor valor no se causarán sanciones, ni intereses, ni serán sometidas a procesos de revisión. Si las mismas contienen errores, ellas no tendrán efectos legales y el mayor impuesto liquidado se tendrá como tal por el correspondiente año gravable, sin que dé lugar a devolución o compensación de lo así pagado.
    
    
    
    Acuerdo No. 022 del 16
    
    No. 15 — 69 Centro. Teléfonos: 605
    
    5732797
    
    
    
    ARTÍCULO 33. PAZ Y SALVO PREDIAL. Para autorizar el otorgamiento de escritura pública de actos de trasferencia de dominio sobre inmueble o de división de terrenos o parcelación de lote, deberá acreditarse ante el notario que el predio se encuentra al día por concepto de impuesto predial.
    
    Esta verificación se realizará a través de la ventanilla única de registro (VUR), administrada por la Superintendencia de Notariado y Registro, para lo cual los notarios deberán solicitar acceso a la misma a la oficina de Sistemas del Municipio o quien haga sus veces.
    
    El estado de cuenta expedido por el sistema de información donde conste la Inexistencia de saldo a cargo del contribuyente constituirá para éste la prueba de encontrarse a paz y salvo para efectos diferentes de los trámites notariales.
    
    
    
    Parágrafo. Sin perjuicio de Io establecido en el inciso anterior, para autorizar otorgamiento de escrituras públicas que versen sobre inmuebles, como trasferencias, hipotecas, desenglobles etc., el notario respectivo deberá verificar en la VIJR a través del portal institucional del Municipio que el predio objeto de la escritura se encuentra a paz y salvo por concepto del impuesto predial unificado sobretasa ambiental y sobretasa bomberil.
    
    CAPÍTULO ll
    
    SOBRETASA AMBIENTAL
    ARTÍCULO 34. AUTORIZACIÓN LEGAL. La sobretasa ambiental de que trata este capítulo está establecida y autorizada por la ley 99 de 1993 y tiene como destino la protección del medio ambiente y los recursos naturales renovables.
    
    ARTÍCULO 35. SUJETO ACTIVO. En el Municipio de Valledupar, recaen las potestades tributarias de administración, control, fiscalización, liquidación, discusión y cobro. Mientras el sujeto activo beneficiario del recaudo de la sobretasa ambiental es la Corporación Autónoma Regional del Cesar, de acuerdo con la Ley 99 de 1993 y el marco legal vigente.
    
    
    ARTÍCULO 36. SUJETO PASIVO. El sujeto pasivo de la sobretasa ambiental es la persona natural o jurídica, propietaria o poseedora de predios ubicados en la jurisdicción del Municipio de Valledupar.
    
    ARTÍCULO 37. HECHO GENERADOR. La sobretasa ambiental recae sobre los bienes raíces ubicados en el Municipio de Valledupar sujetos al impuesto predial unificado.
    
    ARTÍCULO 38. CAUSACIÓN. La sobretasa ambiental se causa el 1 de enero del respectivo año gravable.
    
    ARTÍCULO 39. PERIODO GRAVABLE. El periodo gravable de la sobretasa es anual, y está comprendido entre el I de enero y el 31 de diciembre del respectivo año.
    
    ARTÍCULO 40. BASE GRAVABLE. La base gravable para liquidar la sobretasa ambiental será el avaluó de los bienes que sirven de base para liquidar el impuesto predial unificado.
    
    ARTÍCULO 41. TARIFA. La tarifa correspondiente a la sobretasa ambiental será del 1.5 por mil (I .5/1.000).
    
    ARTÍCULO 42. LIQUIDACIÓN DE LA SOBRETASA AMBIENTAL, En la facturación del impuesto predial unificado y las declaraciones forzosas y voluntarias de este tributo se incluirá el cobro de la sobretasa ambiental.
    </p>
