<p>CAPÍTULO XI
IMPUESTO AL SERVICIO DE ALUMBRADO PÚBLICO
    
ARTÍCULO 180. AUTORIZACIÓN LEGAL El impuesto al servicio de alumbrado público está autorizado por la Ley 97 de 1913, Ley 84 de 1915 y Ley 1819 de 2016.

ARTÍCULO 181. DEFINICIÓN. Es el servicio público no domiciliario, inherente al servicio de energía eléctrica, que se presta con el objeto de proporcionar la iluminación de los bienes de uso público y demás espacios de libre circulación con tránsito vehicular o peatonal, dentro del perímetro urbano y rural del Municipio de Valledupar.

El servicio de alumbrado público comprende las actividades de suministro de energía al sistema de alumbrado público, la administración, operación, mantenimiento, modernización, reposición y expansión de dicho sistema, el desarrollo tecnológico asociado a él, así como la facturación y recaudo del impuesto o contribución y la interventoría al servicio.

No se considera servicio de alumbrado público la iluminación de las zonas comunes en las unidades inmobiliarias cerradas o en los edificios o conjuntos residenciales, comerciales o mixtos, sometidos al régimen de propiedad respectivo, el cual estará a cargo de la copropiedad o propiedad horizontal. Tampoco se considera servicio de alumbrado público la iluminación ornamental y navideña en los espacios públicos.

También se excluyen del servicio de alumbrado público la iluminación de carreteras que no estén a cargo del municipio salvo lo establecido en el artículo 68 de la Ley 1682 de 2013.

		

De conformidad con el artículo 29 de la Ley 1 150 de 2007 el alumbrado público es una actividad inherente a la energía eléctrica. Según lo establecido en el artículo 2 del Decreto 2424 de 2006 0 las normas que sustituyan o modifiquen, es "el servicio público no domiciliario de carácter colectivo, que se presta con el objeto de proporcionar exclusivamente la iluminación de los bienes de uso público y demás espacios de libre circulación con tránsito vehicular o peatonal, dentro del perímetro urbano y rural de un municipio o distrito. El servicio de alumbrado público comprende las actividades de suministro de energía al sistema de alumbrado público, la administración, la operación, el mantenimiento, la modernización, la reposición y la expansión del sistema de alumbrado público. Para los efectos de este artículo se considera incorporada la zona rural en los centros pobladas de la misma, conforme a la viabilidad técnica y financiera que para el efecto defina la Administración Municipal.

ARTÍCULO 182. ELEMENTOS DE LA OBLIGACIÓN TRIBUTARIA. El impuesto de alumbrado público comprende los siguientes elementos:

10 . Sujeto Activo. El Municipio de Valledupar es el sujeto activo, titular de los derechos de liquidación, recaudos, discusión y disposición de los recursos correspondientes quien podrá definir los agentes de recaudos y celebrar los contratos o convenios que garanticen un eficaz y eficiente recaudo del impuesto, con sujeción a la ley y a lo que aquí disponga. El Municipio como sujeto activo del impuesto, ejercerá de manera privativa la liquidación, administración determinación, control, discusión, recaudo, devolución y cobro.

20. Hecho Generador y Sujeto Pasivo. El hecho generador del impuesto de alumbrado público es el beneficio por la prestación del servicio de Alumbrado Público.


La generación del impuesto por parte de los usuarios se encuentra dentro de los supuestos de disfrute efectivo o potencial del servicio de alumbrado público y usuario del servicio público de energía eléctrica.

En consecuencia, los sujetos pasivos de este tributo serán todas las personas naturales o jurídicas sobre quienes recaiga el hecho generador de la obligación tributaria aquí establecida, esto es, quienes sean usuarios, suscriptores o consumidores, auto consumidores, generadores, auto generadores o cogeneradores de energía eléctrica en el área geográfica del municipio.

Parágrafo. Clasificación de los sujetos pasivos, para efectos de dar cumplimiento al principio constitucional de progresividad, los sujetos pasivos se clasificarán en dos regímenes así:



Régimen General: pertenecen a este régimen todos aquellos contribuyentes que son usuarios o suscriptores de los servicios de energía eléctrica regulados o no regulados, residenciales, oficiales, industriales, comerciales, provisionales, de servicio e instituciones sin ánimo de lucro quienes no se encuentren dentro del régimen particulaL

Régimen Particular de Contribuyentes Especiales del Tributo de Alumbrado Público: Pertenecen a este régimen:

Todos aquellos contribuyentes que acceden al servicio de energía eléctrica mediante la modalidad de autoconsumo, generación, autogeneración o cogeneración. Para estos contribuyentes del régimen particular se producirá una liquidación oficial mensual tomando como base el aforo que realice el ente territorial. El aforo se podrá actualizar anualmente a cuando lo solicite el contribuyente.

Parágrafo. Para efectos de aplicación del tributo deben tenerse en cuenta las siguientes definiciones:

Auto generador: persona que produce energía eléctrica exclusivamente para atender sus propias necesidades. Por lo tanto, no usa la red pública para fines distintos de obtener respaldo del SIN y puede o no, ser el propietario del sistema de generación.

Carga o Capacidad Instalada: Es la carga instalada o capacidad nominal que puede soportar el componente limitante de una instalación o sistema eléctrico.

Cogeneración. Proceso de producción combinada de energía eléctrica y energía térmica que hace parte del proceso productivo cuya actividad principal no es la producción de energía eléctrica, destinadas ambas al consumo propio o de terceros y cuya utilización se efectúa en procesos industriales o comerciales.

Cogenerador: Persona que produce energía utilizando un proceso de cogeneración y puede o no, ser el propietario del sistema de cogeneración.

Comercialización De Energía Eléctrica: Actividad consistente en la compra y venta de energía eléctrica en el mercado mayorista y su venta con destino a otras operaciones en dichos mercados o a los usuarios finales.



Comercializador: Persona cuya actividad principal es la comercialización de energía eléctrica

Distribuidor Local: Persona que opera y transporta energía eléctrica: en un Sistema de Distribución Local, o que ha constituido una empresa cuyo objeto incluye el desarrollo de dichas actividades; y la operara directamente o por interpuesta persona (operador).

Distribución De Energía Eléctrica: Transporte de energía eléctrica desde el punto donde el Sistema de Transmisión Nacional, bien sea que desarrolle su actividad en forma exclusiva o en forma combinada con otra y otras actividades del sector eléctrico.

Sistema Interconectado Nacional (SIN): Es el sistema compuesto por los siguientes elementos conectados entre sí: las plantas y equipos de generación, la red de interconexión nacional, las redes regionales e interregionales de transmisión, las redes de distribucióni y las cargas eléctricas de los usuarios.

Sistema De Transmisión: Es el sistema interconectado de transmisión de energía eléctrica compuesto por el conjunto de líneas con sus correspondientes módulos de conexión, que operan a tensiones iguales o superiores a los 220 KW

Transmisor: Persona que opera y transporta energía eléctrica en el Sistema de Transmisión Nacional o que ha constituido una empresa cuyo objeto es el desarrollo de dichas actividades.

Transformación: Proceso mediante el cual se adecuan las características de voltaje y corriente de la energía eléctrica que se producen en las centrales generadoras para ser entregadas al usuario final para su proceso.

30. Base Gravable. Es la unidad de medida sobre la cual se determina de forma directa la tarifa. La base gravable es el consumo de energía eléctrica antes de contribución o subsidios durante el mes calendario de consumo. Se aplica a cualquier sistema de medida y macro, medición según sea el caso, así como también aquellos casos en donde la regulación y la ley permiten establecer el consumo de energía mediante la estimación.		

En el caso de los generadores, cogeneradores y auto generadores la base gravable será la capacidad instalada de generación, cogeneración y auto generación de energía.

40 . Causación: El periodo de causación del impuesto es mensual, pero el cálculo se ajustará a los ciclos y condiciones de facturación que implemente el agente recaudador designado dentro del mes objeto de cobro.

En el caso de los predios ubicados dentro de la jurisdicción del Municipio de Valledupar cuando no sean usuarios del servicio de energía eléctrica, el impuesto de alumbrado público se causará junto al impuesto predial.

ARTÍCULO 183. TARIFAS DEL IMPUESTO DE ALUMBRADO PÚBLICO. La tarifa del impuesto de alumbrado público consistirá en un valor que se cobrará a cada sujeto pasivo de acuerdo con el sector, de la siguiente manera:

l. Régimen General: El impuesto al servicio de alumbrado público se determina según el estrato socio económico y de acuerdo con el consumo para el SECTOR RESIDENCIAL. La tarifa consistirá en un porcentaje sobre consumo que se cobrará a cada sujeto pasivo de acuerdo con la siguiente tabla:

ESTRATO TARIFA

1 8% (Ocho por ciento)

2 8% (Ocho por ciento)

3 10% (Diez por ciento)

4 10% (Diez por ciento)

5 13% (Trece por ciento)

6 13% (Trece por ciento)

2.    


El impuesto al servicio de alumbrado público se determina según el consumo y nivel de tensión, para el SECTOR NO RESIDENCIAL. La tarifa consistirá en el diecisiete por ciento (17%) sobre el consumo que se cobrará a cada sujeto pasivo, en nivel de tensión 1.

2.1.         En nivel de tensión 2: cuando el cliente o usuario del servicio domiciliario de energía eléctrica se encuentre conectado en el nivel de tensión 2. El impuesto al servicio de alumbrado público será el equivalente al nivel de tensión 1 incrementado en un diez por ciento (10%).

2.2.         En el nivel de tensión 3: cuando el cliente o usuario del servicio público domiciliario de energía eléctrica se encuentre conectado en el nivel de tensión 3 0 más, el impuesto al servicio de alumbrado público será el equivalente al nivel de tensión I incrementado en un veinte por ciento (20%).

3. Régimen Particular:

3.1.  El impuesto al servicio de alumbrado público para las subestaciones eléctricas de propiedad de empresa de distribución de energía eléctrica y/u operadores de redes de energía eléctrica, la tarifa consistirá en un valor mensual determinado en 70 UVT que se cobrará a cada sujeto pasivo.

3.2.  El impuesto al servicio de alumbrado público para los generadores, cogeneradores, y auto generadores de energía eléctrica, se establece las siguientes tarifas de acuerdo con su capacidad instalada de generación.

ARTÍCULO 184. RESPONSABLES DEL RECAUDO. Las empresas prestadoras del respectivo servicio de energía domiciliaria en el Municipio de Valledupar serán responsables del recaudo del impuesto al servicio de alumbrado público, de los usuarios del servicio domiciliario de energía eléctrica, de forma mensual en los lugares y plazos que señale la Secretaría de Hacienda Municipal. El valor del impuesto se recaudará junto con el servicio de energía eléctrica.

La jefatura de Recaudo Municipal conforme a las facultades de fiscalización prevista en el presente Acuerdo podrá revisar el recaudo efectuado por las empresas prestadoras del servicio de energía, quienes responderán por los dineros dejados de facturar y recaudar y por la obligación de presentar las declaraciones respectivas en los plazos que señale la Secretaría de Hacienda Municipal.



ARTÍCULO 185. DECLARACIÓN Y PAGO. Los sujetos pasivos determinados en el artículo 4 del presente Acuerdo, que sean considerados usuarios no regulados atendidos por comercializadores de energía diferentes a CARIBE MAR DE LA COSTA S.A. E.s.P, empresa con la que el municipio tiene convenido los procesos de facturación y cobro del impuesto o quien haga sus veces, deberán presentar declaraciones y pago de este tributo en los plazos y lugares que señale la administración municipal.

Los porcentajes establecidos a través del presente acuerdo solo aplicaran sobre el consumo y no se aplicarán teniendo en cuenta todos los valores facturados a los usuarios según la estructura tarifaria definida para el servicio público domiciliario de energía eléctrica, por la comisión de regulación de energía y gas CREG, o la entidad que haga sus veces de conformidad de las leyes de la Republica. Derogando el artículo cuarto del Acuerdo No. 053 de 1999 

ARTÍCULO 186. DECLARACIÓN DE RESPONSABLES Y SUJETOS PASIVOS DEL IMPUESTO DE ALUMBRADO PÚBLICO. Las empresas prestadoras del respectivo servicio de energía domiciliaria en el Municipio de Valledupar deberán presentar declaración mensual liquidando el valor total recaudado durante el periodo.

</p>
