<p>CAPÍTULO XIII

    ESTAMPILLA PARA EL BIENESTAR DEL ADULTO MAYOR
    ARTÍCULO 198. AUTORIZACIÓN LEGAL. La estampilla para el bienestar del adulto mayor está autorizada por la Ley 687 de 2001, modificada por la Ley 1276 de 2009, a su vez modificada por la Ley 1850 de 2017.

    ARTÍCULO 199. SUJETO ACTIVO. El municipio de Valledupar es el sujeto activo de la estampilla para el bienestar del adulto mayor que se cause en su jurisdicción y en él radican las potestades tributarias de administración, 
    control, fiscalización, liquidación, discusión, recaudo, devolución y cobro.

    ARTÍCULO 200. SUJETO PASIVO. Son sujetos pasivos de la estampilla para el bienestar del adulto mayor, todas las personas naturales, jurídicas y sociedades de hecho, consorcios o uniones temporales y aquellas en quienes se realice el hecho generador en el municipio de Valledupar.

ARTÍCULO 201. HECHO GENERADOR. Los actos y documentos sobre los cuales se aplicará el gravamen de la estampilla para el bienestar del adulto mayor en el Municipio de Valledupar son:

I. Todos los contratos y sus adiciones en valor, con o sin formalidades plenas, ordenes de trabajo, ordenes de prestación de servicios, ordenes de suministros y órdenes de compraventa suscrito por el municipio de Valledupar y/o sus entidades descentralizadas, empresa de economía mixta, unidades administrativas especiales, el Área Metropolitana de Valledupar, y demás entidades del orden municipal con o sin personería jurídica, pero en cualquier caso que cumpla función de entidad estatal en los términos de la ley 80 de 1993, el Concejo Municipal, la Contraloría y la Personería.

2.    La suscripción de contratos y sus adiciones si las hubiere, con el Área Metropolitana, cuyo objeto de ejecución tenga lugar en la Jurisdicción del Municipio de Valledupar.

3.    La expedición de la autorización o permiso de la Secretaría de Gobierno Municipal para la realización de espectáculos públicos, así como para la colocación de vallas publicitarias.

Parágrafo 1 0 . Los contratos celebrados por el Área Metropolitana cuyo objeto de ejecución tenga lugar en la jurisdicción del Municipio de Valledupar, estarán igualmente sujetos al pago de la estampilla para el bienestar del adulto mayor en las cuantías y porcentajes aquí establecidos.

Parágrafo 20 . Los contratos o convenios interadministrativos, los contratos celebrados entre entes públicos, las operaciones de manejo de deuda pública y las conexas con las anteriores que realicen las entidades públicas municipales, están excluidas del pago de la estampilla.

Parágrafo 30 . Los contratos de compra de suministros de combustible automotor tendrán como base gravable el margen bruto de comercialización, en los términos del artículo 67 de la Ley 383 de 1997.

ARTÍCULO 202. BASE GRAVABLE. La base gravable de la estampilla para el bienestar del adulto mayor en el Municipio de Valledupar será:

1 El valor de contrato y sus adiciones si la hubiere, con el Municipio de Valledupar y/o sus entidades descentralizadas, empresas o sociedades del orden Municipal, Concejo Municipal, Contraloría Municipal y Personería Municipal, sin incluir el IVA si Io contiene.

2.  El valor correspondiente del contrato y sus adicciones, si la hubiere, celebrado por el Área Metropolitana cuya ejecución tenga lugar en la jurisdicción del Municipio de Valledupar, sin incluir el IVA si Io contiene.

3.  El valor de la boletería sellada, de acuerdo con la certificación, previo permiso por parte de la Secretaría de Gobierno para la realización del Espectáculo Publico.

4.  El valor del impuesto de publicidad exterior visual.

ARTÍCULO 203. TARIFAS. Los sujetos pasivos de la estampilla para el bienestar del adulto mayor en el Municipio de Valledupar pagaran el cuatro por ciento (4%) sobre el valor de la base gravable determinada.

Cuando se trate de la autorización para la realización de espectáculos públicos será del uno punto cinco por ciento (1.5%) del valor de la taquilla oficialmente certificada. La certificación a que se refiere este numeral la expedirá la Alcaldía Municipal.

En la autorización para la colocación de vallas publicitarias, pagaran cada una de ellas la suma equivalente a uno punto cinco (I .5) salario mínimo diario legal vigente.

ARTÍCULO 204. CAUSACIÓN. La estampilla para el bienestar del adulto mayor se causa:

1.    En el momento de la suscripción del contrato y de la respectiva adición, si la hubiere, con el Municipio de Valledupar y/o sus entidades descentralizadas, empresas o sociedades del orden Municipal, Concejo Municipal, Contraloría Municipal y Personería Municipal.

2.    En el momento de la suscripción del contrato y de la respectiva adición, si la hubiere, celebrado por el Área Metropolitana, cuya ejecución tenga lugar en la jurisdicción del Municipio de Valledupar.

3.    En el momento que se expida la correspondiente autorización o permiso por parte de la Secretaría de Gobierno para la realización del espectáculo público, así como para la colocación de vallas publicitarias.



Parágrafo. En los contratos y sus adiciones cuya cuantía sea indeterminada y en general para todo tipo de contratos en los cuales al momento de su celebración no se pueda identificar la base gravable y aquellos en los cuales el valor del contrato ha sido establecido con un valor fiscal, se causará la estampilla en la medida que se van realizando pagos por la remuneración pactada durante su ejecución.

ARTíCULO 205. EXIGIBILIDAD DEL PAGO. El pago de la estampilla para el bienestar del adulto mayor para los contratos y adiciones suscritos con el Municipio de Valledupar y/o sus entidades descentralizadas, empresas o sociedades del orden Municipal, Concejo Municipal, Contraloría Municipal, Personería Municipal y, el Area Metropolitana, será exigible previo a la ejecución del contrato o previo a la expedición o emisión del documento o acto por parte de las entidades antes mencionadas.

ARTÍCULO 206. LIQUIDACIÓN Y PAGO. El valor de la estampilla para el bienestar del adulto mayor debe ser cancelada por parte del sujeto pasivo en el proceso de legalización del contrato o sus adiciones si las hubiere.

Para el caso de la realización de espectáculos públicos y/o colocación de vallas publicitarias, deberá ser cancelada por el sujeto pasivo en el momento que se expida la correspondencia autorización o permiso por parte de la Secretaría de Gobierno o autoridad competente.

Parágrafo: La administración municipal podrá diferir el pago de las estampillas por el mecanismo de retención en las cuentas de cobro correspondientes, para tales efectos, el reglamento deberá señalar como mínimo los siguientes elementos: agentes de retención, obligaciones del agente de retención, el periodo de declaración y pago, el contenido de la declaración de retención, los formularios y plazos.

ARTÍCULO 207. EXCLUSIONES. se exceptúan del pago de la estampilla para el bienestar del adulto mayor:

I . Los convenios interadministrativos y en general, los contratos celebrados entre entes públicos, cualquiera que sea la denominación y/o naturaleza de los mismos

2.    


Contratos de empréstitos, las operaciones de crédito público, de manejo de deuda y las conexas.

3.     Los contratos de compra de suministros de combustible automotor tendrán como base gravable el margen bruto de comercialización, en los términos del artículo 67 de la Ley 383 de 1997.

4.     Los espectáculos públicos realizados por entidades públicas.

5.     Las vallas publicitarias colocadas por entidades públicas.

6.     Los contratos suscritos con el cuerpo de bomberos sea municipal o Voluntarios, así como los contratos suscritos con Cruz Roja y Defensa Civil.

ARTÍCULO 208. DESTINACIÓN. El producto de la estampilla para el bienestar del adulto mayor se destinará como mínimo, en un 70% para la financiación de los Centros de Vida, y el 30% restante, a la dotación y funcionamiento de los Centros de Bienestar del Anciano, conforme a los lineamientos de la Ley 1276 de 2009.

ARTÍCULO 209. REGISTRO DE LA ESTAMPILLA. una vez se realice el pago de la estampilla para el bienestar del adulto mayor, las entidades señaladas en el articulo 204 de este Acuerdo, deberán registrar en el acto o documento en que intervino el servidor público el valor pagado por este concepto
</p>
