<p>CAPÍTULO IV

    IMPUESTOS DE AVISOS Y TABLEROS
    
    ARTÍCULO 106. CREACIÓN LEGAL. El impuesto de avisos y tableros está autorizado por la Ley 97 de 1913, la Ley 14 de 1983, el Decreto 1333 de 1986 y la Ley 140 de 1994
    
    
    
    ARTÍCULO 107. SUJETO ACTIVO. El municipio de Valledupar es el sujeto activo del impuesto de avisos y tableros que se causen en su jurisdicción y en el radican las potestades tributarias de administración, control, fiscalización, liquidación, discusión, recaudo, devolución y cobro.
    
    ARTÍCULO 108. SUJETO PASIVO. son sujetos pasivos del impuesto de avisos y tableros los contribuyentes del impuesto de Industria y Comercio que realicen cualquiera de los hechos generadores del impuesto.
    
    Las entidades del sector financiero también son sujetas del impuesto de avisos y tableros, de conformidad con Io establecido en el artículo 78 de la Ley 75 de 1986.
    
    ARTÍCULO 109. HECHO GENERADOR. son hechos generadores del impuesto complementarios de avisos y tableros los siguientes hechos realizados en la jurisdicción del Municipio de Valledupar.
    
    I. La colocación de vallas, avisos, tableros y emblemas en la vía pública, en lugares públicos o privados visibles desde el espacio público.
    2. Colocación de avisos en cualquier clase de vehículo o cualquier otro medio de transporte.

ARTÍCULO 110. BASE GRAVABLE. sera el total del impuesto de industria y comercio y se liquidará y cobrará con éste en cada periodo gravable.

ARTÍCULO II I. TARIFA. La tarifa será del quince por ciento (15%) la cual se aplicará sobre la base gravable señalada en al artículo anterior.
</p>
