<p>CAPÍTULO V

    RÉGIMEN SIMPLE ESPECIAL DE TRIBUTACIÓN
    
    
    
    ARTÍCULO 112. RÉGIMEN SIMPLE DE TRIBUTACIÓN. Incorpórese el impuesto de Industria y Comercio, su complementario de Avisos y Tableros que se genera en el Municipio de Valledupar, al impuesto unificado bajo el régimen simple de tributación (SIMPLE) establecido por la Ley 2010 de 2019, la norma que la modifique o adicione, únicamente respecto de aquellos contribuyentes que Io integren y permanezcan en el SIMPLE.
    
    En virtud de lo anterior, los contribuyentes que integran el SIMPLE realizarán la declaración y pago del componente de Industria y Comercio Consolidado ante el Gobierno Nacional, dentro de los plazos establecidos para tal efecto, en el formulario que se diseñe.
    
    ARTÍCULO 113. ELEMENTOS ESENCIALES. Los elementos esenciales de Industria y Comercio establecidos en el presente acuerdo, aplican para todos los contribuyentes del impuesto en el Municipio de Valledupar, sin importar que las obligaciones sustanciales y formales las cumplan directamente ante el Municipio o a través del impuesto unificado bajo el régimen simple de tributación (SIMPLE).
    
    Por tal motivo, en todos los casos debe liquidarse y pagarse el ICA con base en las disposiciones aquí previstas.

ARTÍCULO 114. AUTONOMÍA RESPECTO DEL IMPUESTO DE INDUSTRIA Y COMERCIO CONSOLIDADO. Respecto del impuesto de Industria y Comercio consolidado que hace parte del régimen SIMPLE, la Administración Tributaria Municipal mantendrá la competencia para la administración del tributo, incluyendo las facultades de fiscalización, determinación, imposición de sanciones, determinación de los elementos de la obligación tributaria, otorgamiento de beneficios tributarios, registro de contribuyentes, y los demás aspectos inherentes a la gestión y administración del tributo, con sujeción a los límites impuestos por la Constitución y la Ley.

ARTÍCULO 115. OBLIGADOS A PRESENTAR DECLARACIÓN DE IMPUESTO DE INDUSTRIA COMERCIO. Están obligados a presentar declaración del impuesto de Industria y Comercio, todos los contribuyentes sometidos a dicho impuesto, sin importar que integren o no el impuesto unificado bajo el régimen simple de tributación.

		

Para los contribuyentes que no integran el SIMPLE, la declaración debe presentarse en los formularios, lugares y plazos señalados por la Administración Tributaria Municipal

Los contribuyentes que integran el régimen simple de tributación (SIMPLE), presentarán su declaración liquidando el componente del ICA Consolidado, en el formulario establecido por la DIAN, en los lugares y plazos dispuestos por el Gobierno Nacional.

ARTíCULO 116. NO OBLIGADOS A DECLARAR ANTE EL MUNICIPIO. No están obligados a presentar declaración del impuesto de Industria y Comercio ante el Municipio de Valledupar, los contribuyentes que integran y se encuentran activos en el impuesto unificado bajo el régimen simple de tributación (SIMPLE), quienes declararán el ICA Consolidado ante el Gobierno Nacional.

ARTíCULO 117. EFECTOS DE LAS DECLARACIONES DE INDUSTRIA Y COMERCIO PRESENTADAS POR CONTRIBUYENTES DEL SIMPLE. La declaración del impuesto de Industria y Comercio presentadas directamente ante el Municipio de Valledupar por contribuyentes activos en el SIMPLE, no producirán efecto legal alguno sin necesidad de que la Administración Tributaria Municipal profiera acto administrativo que así lo declare.

ARTÍCULO 118. DECLARACIONES DE INDUSTRIA Y COMERCIO PARA CONTRIBUYENTES EXCLUIDOS DEL SIMPLE. La obligación de presentar declaración del impuesto de Industria y Comercio ante el Municipio de Valledupar para los contribuyentes que solicitan la exclusión del SIMPLE o son excluidos del SIMPLE, durante un periodo gravable que no se encuentra concluido al momento de la actualización del Registro Único Tributario -RUT y/o exclusión del SIMPLE, deberá cumplirse dentro de los plazos previstos por la Administración Tributaria Municipal, según el periodo gravable que corresponda.



Los contribuyentes de Industria y Comercio que solicitan la exclusión del SIMPLE o son excluidos del SIMPLE, por el incumplimiento de requisitos insubsanables durante un periodo gravable que ya se encuentra concluido, deberán presentar y pagar dentro del mes siguiente a la actualización Registro Único Tributario — RUT o la exclusión del SIMPLE, las declaraciones del impuesto de Industria y Comercio correspondientes a los periodos gravables durante los cuales existió el incumplimiento de los requisitos. De no hacerlo en el plazo previsto, se iniciarán los respectivos procesos tributarios, liquidando las sanciones correspondientes desde la fecha original en que debía cumplirse la obligación por cada periodo gravable.

ARTÍCULO 119. PAGO DEL IMPUESTO DE INDUSTRIA Y COMERCIO CONSOLIDADO. El impuesto de Industria y Comercio consolidado a cargo de los contribuyentes que integran el SIMPLE, se deberá liquidar y pagar mediante anticipos bimestrales calculados en los recibos electrónicos de pago dispuestos por el Gobierno Nacional, los cuales deben ser concordantes con la declaración anual del SIMPLE que presentan los contribuyentes.

Para la liquidación del impuesto de Industria y Comercio consolidado, deben tenerse en cuenta las disposiciones vigentes en el Estatuto Tributario Municipal de Valledupar.

PARÁGRAFO. El pago del impuesto de Industria y Comercio consolidado se realizará directamente ante la Nación desde el periodo gravable en que se realiza la incorporación efectiva al régimen SIMPLE.

El impuesto correspondiente a periodos gravables anteriores al ingreso en el SIMPLE, incluyendo los años de transición 2019 y 2020, deberá realizarse directamente ante el Municipio de Valledupar, en los plazos y condiciones señalados para tal efecto.



ARTÍCULO 120. APLICACIÓN DE PAGOS REALIZADOS POR LOS CONTRIBUYENTES EXCLUIDOS DEL SIMPLE. Los pagos del impuesto de Industria y Comercio consolidado realizados por los contribuyentes excluidos del SIMPLE, durante los periodos en que existió incumplimiento de requisitos para integrar el Régimen, se podrán descontar en la declaración del impuesto de Industria y Comercio que debe presentarse ante el Municipio de Valledupar, correspondiente al respectivo periodo gravable.

ARTÍCULO 121. NO AFECTACIÓN DEL COMPONENTE DEL IMPUESTO DE INDUSTRIA Y COMERCIO. El monto del impuesto de Industria y Comercio consolidado determinado en los anticipos bimestrales o en la declaración anual del SIMPLE, no podrá ser afectado con los descuentos de que trata el parágrafo 4 del artículo 903 y el artículo 912 del Estatuto Tributario Nacional, la norma que los modifique o adicione.

ARTÍCULO 122. CÓDIGOS DE ACTIVIDADES Y TARIFAS DEL IMPUESTO DE INDUSTRIA Y COMERCIO. Las actividades y tarifas del impuesto de Industria y Comercio en el Municipio de Valledupar se determinarán dependiendo si el contribuyente pertenece o no al impuesto unificado bajo el régimen simple de tributación (SIMPLE) establecido por la Ley 2010 de 2019, la norma que lo modifique o adicione, según se dispone a continuación:

1.  LOS CONTRIBUYENTES QUE NO INTEGRAN EL IMPUESTO UNIFICADO BAJO EL RÉGIMEN SIMPLE DE TRIBUTACIÓN (SIMPLE): Seguirán presentando su declaración, de acuerdo a Io estipulado en el Capítulo III del Estatuto Tributario Municipal.

2.  CONTRIBUYENTES QUE INTEGRAN EL IMPUESTO UNIFICADO BAJO

ACTIVIDAD
INDUSTRIAL
COMERCIAL
SERVICIOS

PARÁGRAFO. Los contribuyentes del impuesto de Industria y Comercio en el Municipio de Valledupar, que integren el impuesto unificado bajo el régimen simple de tributación (SIMPLE), deberán tener en cuenta para la liquidación del tributo las disposiciones contenidas en el Estatuto Tributario Municipal.

ARTÍCULO 123. RETENCIONES Y AUTORRETENCIONES PARA INTEGRANTES DEL SIMPLE. Los contribuyentes del impuesto de Industria y Comercio en el Municipio de Valledupar, que integren el impuesto unificado bajo el régimen simple de tributación (SIMPLE), no estarán sujetos a retenciones en la fuente a título de Industria y Comercio consolidado, mientras hagan parte del RégimenAsimismo, los contribuyentes de Industria y Comercio que integren el SIMPLE, no serán retenedores ni autorretenedores a título de ICA. En caso de ostentar dicha calidad, la perderán de forma automática por vincularse al SIMPLE, pero deberán cumplir con la obligación de declarar y trasladar la retención o autorretención practicada hasta el momento en que tuvieron esa responsabilidad, de acuerdo a los vencimientos dispuestos en el Municipio de Valledupar.

PARÁGRAFO I. Lo dispuesto en este artículo aplica únicamente para la retención y autorretención del impuesto de Industria y Comercio, Avisos y Tableros, sin extenderse a los demás tributos del Municipio de Valledupar.

		

PARÁGRAFO 2. Los agentes de retención y autorretención de ICA que ostentan esa calidad en virtud de Io dispuesto en el Estatuto Tributario Municipal, la recuperarán una vez dejen de pertenecer al régimen SIMPLE, quedando obligados a cumplir con la totalidad de cargas inherentes a esa responsabilidad.

ARTÍCULO 124. IMPUTACIÓN DE LA RETENCIÓN. Únicamente por el periodo en que se integran al SIMPLE, los contribuyentes descontarán en el primer recibo electrónico de pago dispuesto por el artículo 908 del Estatuto Tributario Nacional, las retenciones y autorretenciones que le fueron practicadas durante dicho periodo gravable, mientras no hacía parte del mismo.

ARTÍCULO 125. VALORES RETENIDOS O AUTORRETENIDOS PARA INTEGRANTES DEL SIMPLE. Las retenciones de Industria y Comercio practicadas indebidamente a contribuyentes que hacen parte del SIMPLE, deberán ser reintegradas por el agente retenedor observando el procedimiento establecido en el artículo 1.2.4.16 del Decreto 1625 de 2016, la norma que Io modifique o adicione.

Los valores autorretenidos indebidamente y declarados y pagados ante el Municipio de Valledupar, podrán ser solicitados en devolución directamente ante la entidad territorial.

ARTíCULO 126. INSCRIPCIÓN EN EL REGISTRO DE CONTRIBUYENTES.

La inscripción en el Registro de contribuyentes del impuesto de Industria y Comercio, es obligatoria en todos los casos y debe realizarse tanto por los contribuyentes que integran el impuesto unificado bajo el régimen simple de tributación (SIMPLE) establecido en la Ley 2010 de 2019, la norma que la modifique, adicione o reemplace, como por aquellos que no Io integran.

PARÁGRAFO. La inscripción de que trata el presente artículo podrá realizarse de forma oficiosa por parte de la administración tributaria, con fundamento en la información recolectada por cruces con terceros o con base en la información reportada por la Dirección de Impuestos y Aduanas Nacionales DIAN, para contribuyentes que integran el SIMPLE.



ARTÍCULO 127. OBLIGACIÓN DE REPORTAR NOVEDADES FRENTE AL SIMPLE. Los contribuyentes del impuesto de Industria y Comercio deberán informar la inscripción o exclusión de la inscripción como contribuyente del impuesto unificado bajo el régimen simple de tributación (SIMPLE), dentro del mes siguiente a su ocurrencia, con la finalidad de hacer los ajustes pertinentes en el Registro de contribuyentes del impuesto.

ARTÍCULO 128. FACULTAD DE FISCALIZACIÓN FRENTE AL IMPUESTO DE INDUSTRIA Y COMERCIO CONSOLIDADO. Sin perjuicio de la reglamentación que se expida respecto de los programas de fiscalización conjuntas de que trata el parágrafo 2 del artículo 903 del Estatuto Tributario Nacional, el Municipio de Valledupar mantiene su autonomía para fiscalizar a los contribuyentes del SIMPLE, imponer sanciones y realizar las demás gestiones inherentes a la administración del impuesto de Industria y Comercio consolidado

ARTÍCULO 129. IMPUESTO MÍNIMO. Para los contribuyentes que integran el impuesto unificado bajo el régimen simple de tributación (SIMPLE), no aplica el impuesto mínimo de Industria y Comercio establecido en el Estatuto Tributario Municipal.

ARTÍCULO 130. PRONTO PAGO. Para los contribuyentes que integran el impuesto unificado bajo el régimen simple de tributación (SIMPLE), no aplica el descuento por pronto pago de Industria y Comercio establecido por la administración municipal.

ARTÍCULO 131. COMPETENCIA PARA DEVOLUCIONES Y/O COMPENSACIONES RÉGIMEN SIMPLE. El Municipio de Valledupar será competente para resolver las solicitudes de devolución y/o compensación generada por saldos a favor, pagos en exceso o pagos de lo no debido correspondientes al componente de Industria y Comercio consolidado que se integra al régimen SIMPLE, en los términos previstos en la presente norma.

ARTÍCULO 132. SOLICITUDES DE COMPENSACIÓN Y/O DEVOLUCIÓN DEL IMPUESTO DE INDUSTRIA Y COMERCIO EN EL SIMPLE. El contribuyente deberá gestionar para su compensación y/o devolución ante el Municipio de Valledupar los siguientes valores generados por concepto del ICA y Avisos y Tableros.



1-. Los valores liquidados por el contribuyente a título de anticipo de Industria y Comercio, en la declaración privada del periodo gravable anterior al que se Ingresó al SIMPLE, siempre y cuando no haya sido descontado del impuesto a cargo del contribuyente en el periodo gravable.

2-. Los saldos a favor liquidados en las declaraciones de Industria y Comercio presentadas directamente ante el Municipio de Valledupar.

3-. Los excesos que genere la imputación de retenciones o autorretenciones a título de ICA durante el periodo gravable anterior al de optar al SIMPLE y que imputó en el recibo electrónico SIMPLE correspondiente al primer bimestre de cada periodo gravable, o en el primer anticipo presentado por el contribuyente.

4-. Cualquier otro pago que pueda generar un saldo a favor, un pago en exceso, o un pago de Io no debido, en el impuesto de Industria y Comercio consolidado.

ARTÍCULO 133. AVISOS Y TABLEROS. Para los contribuyentes inscritos en el impuesto unificado bajo el régimen simple de tributación (SIMPLE), el impuesto de Avisos y Tableros está incluido en la tarifa de Industria y Comercio consolidado que se cancela por medio de los recibos electrónicos de pago y en la declaración anual ante el Gobierno Nacional.

ARTÍCULO 134. COORDINACIÓN Y DIFUSIÓN. La Administración Municipal, en cabeza de la Secretaría de Hacienda, coordinará, definirá y establecerá los criterios, protocolos técnicos, estrategias y mecanismos necesarios para garantizar la difusión, divulgación y publicidad del procedimiento relacionado con los beneficios temporales contenidos en el presente Acuerdo.


    </p>
