<p>CAPÍTULO XII
    ESTAMPILLA PRO-CULTURA
    ARTÍCULO 187. AUTORIZACIÓN LEGAL. La estampilla Pro-Cultura se encuentra autorizada por la Ley 397 de 1997 en su artículo 38 modificado por la Ley 666 de 2001.

    ARTÍCULO 188. SUJETO ACTIVO. El municipio de Valledupar es el sujeto activo de la estampilla Pro-Cultura que se cause en su jurisdicción y en él radican las potestades tributarias de administración, control, fiscalización, liquidación, discusión, recaudo, devolución y cobro.
    
    ARTÍCULO 189. SUJETO PASIVO. El sujeto pasivo de la estampilla procultura es toda persona natural o jurídica que realice el hecho generador.
    
    ARTÍCULO 190. HECHO GENERADOR. Los actos y documentos sobre los cuales se aplicará el gravamen de la estampilla Pro-Cultura en el Municipio de Valledupar es:
    
    
    
    1, Todos los contratos y sus adiciones en valor, con o sin formalidades plenas, ordenes de trabajo, ordenes de prestación de servicios, ordenes de suministros y órdenes de compraventa suscrito por el municipio de Valledupar y/o sus entidades descentralizadas, empresa de economía mixta, unidades administrativas especiales, el Área Metropolitana de Valledupar, y demás entidades del orden municipal con o sin personería jurídica, pero en cualquier caso que cumpla función de entidad estatal en los términos de la Ley 8() de 1993, el Concejo Municipal, la Contraloría y la Personería.
    
    2. La expedición de la autorización o permiso de la Secretaría de Gobierno Municipal para la realización de espectáculos públicos, así como para la colocación de vallas publicitarias.
    
    Parágrafo 1 0 . Los contratos celebrados por el Área Metropolitana cuyo objeto de ejecución tenga lugar en la jurisdicción del Municipio de Valledupar, estarán igualmente sujetos al pago de la estampilla Pro-CuItura en las cuantías y porcentajes aquí establecidas.

    Parágrafo 2 0 . Los contratos o convenios interadministrativos, los contratos celebrados entre entes públicos, las operaciones de manejo de deuda pública y las conexas con las anteriores que realicen las entidades públicas municipales, están excluidas del pago de la estampilla

Parágrafo 3 0 . Los contratos de compra de suministros de combustible automotor tendrán como base gravable el margen bruto de comercialización, en los términos del artículo 67 de la Ley 383 de 1997.

ARTÍCULO 191. BASE GRAVABLE. La base gravable de la estampilla ProCultura en el municipio de Valledupar será:

1.     El valor de contrato y sus adiciones si la hubiere, con el Municipio de Valledupar y/o sus entidades descentralizadas, empresas o sociedades del orden Municipal, Concejo Municipal, Contraloría Municipal y Personería Municipal, sin incluir el IVA si lo contiene.

2.    


El valor correspondiente del contrato y sus adicciones, si la hubiere, celebrado por el Área Metropolitana cuya ejecución tenga lugar en la jurisdicción del Municipio de Valledupar, sin incluir el IVA si Io contiene.

3.     El valor de la boletería sellada, de acuerdo con la certificación, previo permiso por parte de la Secretaría de Gobierno para la realización del Espectáculo Publico.

4.     El valor del impuesto de publicidad exterior visual.

ARTÍCULO 192. CAUSACIÓN. La estampilla Pro-Cultura se causa:

I . En el momento de la suscripción del contrato y de la respectiva adición, si la hubiere, con el Municipio de Valledupar y/o sus entidades descentralizadas, empresas de economía mixta, unidades administrativas especiales, el Área Metropolitana de Valledupar, y demás entidades del orden municipal con o sin personería jurídica, pero en cualquier caso que cumpla función de entidad estatal en los términos de la Ley 80 de 1993, el Concejo Municipal, la Contraloría y la Personería.

2. En el momento que se expida la correspondencia autorización o permiso por parte de la Secretaría de Gobierno para la realización del espectáculo público, asi como para la colocación de vallas publicitarias.

Parágrafo. En los contratos y sus adiciones cuya cuantía sea indeterminada y en general para todo tipo de contratos en los cuales al momento de su celebración no se pueda identificar la base gravable y aquellos en los cuales el valor del contrato ha sido establecido con un valor fiscal, se causará la estampilla sobre los pagos correspondientes a la remuneración pactada durante su ejecución.

La obligación de realizar el pago de la estampilla se generará previo a la ejecución del contrato o previo a la expedición o emisión del documento o acto por parte de las entidades antes mencionadas.

ARTÍCULO 193. TARIFAS. Las tarifas de la estampilla Pro-CuItura son las siguientes:

a.   


En todos los contratos celebrados por las entidades definidas en el artículo anterior, el contratista deberá cancelar el dos por ciento (2%) del valor del contrato.

b.    En la autorización para la realización de un espectáculo público, será del uno punto cinco por ciento (I .5%) del valor de la taquilla oficialmente certificada. La certificación a que se refiere este numeral la expedirá la Alcaldía Municipal.

c.     En la autorización de colocación de vallas publicitarias, será del uno punto cinco por ciento (1.5%) del valor del impuesto de publicidad exterior liquidado.

ARTÍCULO 194. EXCLUSIONES. se exceptúan del pago de la estampilla Pro-CuItura:

I. Los convenios Interadministrativos y en general, los contratos celebrados entre entes públicos, cualquiera que sea la denominación y/o naturaleza de los mismos.

2.     Contratos de empréstitos, las operaciones de crédito público, de manejo de deuda y las conexas,

3.     Los contratos de compra de suministros de combustibles automotores tendrán como base gravable el margen bruto de comercialización, en los términos del artículo 67 de la Ley 383 de 1997

4.     Los espectáculos públicos realizados por entidades públicas.

5.     Las vallas publicitarias colocadas por entidades públicas.

6.     Los contratos suscritos con el cuerpo de bomberos sea Municipal o Voluntarios, así como los contratos suscritos con Cruz Roja y Defensa Civil.

ARTÍCULO 195. REGISTRO DE LA ESTAMPILLA. Una vez se realice el pago de la estampilla Pro-Cultura, las entidades señaladas en el artículo 193 de este Estatuto deberán registrar el acto o documento en que intervino el servidor público el valor pagado por este concepto.



ARTÍCULO 196. DESTINACIÓN. El producto de la estampilla se destinará para:

I. Acciones dirigidas a estimular y promocionar la creación, la actividad artística y cultural, la investigación y el fortalecimiento de las expresiones culturales de que trata el artículo 18 de la Ley 397 de 1997.

2.     Estimular la creación, funcionamiento y mejoramiento de espacios públicos, aptos para la realización de actividades culturales, participar en la dotación de los diferentes centros y casas culturales y, en general propiciar la infraestructura que las expresiones culturales requieran.

3.     Fomentar la formación y capacitación técnica y cultural del creador y del gestor cultural.

4.     Un diez por ciento (10%) para seguridad social del creador y del gestor cultural.

5.     Apoyar los diferentes programas de expresión cultural y artística, así como fomentar y difundir las artes en todas sus expresiones y las demás manifestaciones simbólicas expresivas de que trata el artículo 17 de la Ley 397 de 1997.

ARTICULO 197. LIQUIDACIÓN Y PAGO. El valor de la estampilla ProCultura debe ser cancelada por parte del sujeto pasivo en el proceso de legalización del contrato o sus adiciones si las hubiere.

Para el caso de la realización de espectáculos públicos y/o colocación de vallas publicitarias, deberá ser cancelada por el sujeto pasivo en el momento que se expida la correspondiente autorización o permiso por parte de la Secretaría de Gobierno o autoridad competente.



Parágrafo: La administración municipal podrá difereir el pago de las estampillas por el mecanismo de retención en las cuentas de cobro correspondientes, para tales efectos, el reglamento deberá señalar como mínimo los siguientes elementos: agentes de retención, obligaciones del agente de retención, el periodo de declaración y pago, el contenido de la declaración de retención, los formularios y plazos.
</p>
